html .mce-content-body {
    font-family: Arial, sans-serif !important;
}
html .mce-content-body ul {
    margin-left: 10px;
}
html .mce-content-body img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}
html .mce-content-body img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}