/*******************************************************************************
* COMMON
*******************************************************************************/
div#content.version-3 div.separator-title {
    height: 43px;
    padding-top: 30px;
    padding-bottom: 13px;
    background-image: url('../../images/traits.jpg');
    background-repeat: repeat-x;
    background-position: center;
    text-align: center;
}
div#content.version-3 div.separator-title span {
    background: #FFFFFF;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 35px;
    text-transform: uppercase;
}

/*******************************************************************************
* BANNIERE HEADER
*******************************************************************************/
div#content.version-3 header {
	background: rgba(51, 51, 51, 0.05);
	background-image: url(../../images/common-background.png);
	background-repeat: no-repeat;
}
div#content.version-3 header .header-container {
	max-width: 1300px;
	margin: 0 auto;
	padding: 0% 0.5%;
	padding-top: 100px;
}

div#content.version-3 header h1 {
	margin: 0px;
	text-align: center;
	text-transform: uppercase;
}

/*******************************************************************************
* NAVIGATION
*******************************************************************************/
body.single-post div#content.version-3 .padder { margin-top: 122px; }
body.archive.category div#content.version-3 .padder { margin-top: 120px; }
div#content.version-3 .separator {
    background: url("../../images/tiret_noir.png");
    height: 6px;
    margin: 15px 0px;
}

div#content.version-3 nav.project-navigation {
	height: 60px;
	background-color: #FFFFFF;
	border-bottom: 2px solid;
}
div#content.version-3 nav.project-navigation ul {
    float: left;
	margin: 0px;
	padding: 0px 0px 0px 15px;
}
div#content.version-3 nav.project-navigation ul li {
    list-style: none;
    height: 60px;
    vertical-align: middle;
    display: table-cell;
    padding-right: 15px;
}
div#content.version-3 nav.project-navigation ul li a {
	color: #333333;
	text-transform: uppercase;
	font-size: 11pt;
}

div#content.version-3 nav.project-navigation ul.menu-project li.project-navigation-logo:after {
	position: relative;
	display: inline-block;
	top: -5px;
	height: 20px;
	padding-left: 15px;
	border-right: 1px solid;
	color: #000000;
	content: "";
}
div#content.version-3 nav.project-navigation ul.menu-project li.project-navigation-title {
	font-size: 12pt;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 2px;
	padding-right: 50px;
}
div#content.version-3 nav.project-navigation ul.menu-project li.slashed:after {
	content: "/";
	padding-left: 15px;
}
div#content.version-3 nav.project-navigation ul.menu-project li.slashed:last-child:after {
	content: "";
}


div#content.version-3 nav.project-navigation ul.menu-actions {
    float: right;
}
div#content.version-3 nav.project-navigation ul.menu-actions li.action-item {
	padding-right: 0px;
	background: #EA4F51;
}
div#content.version-3 nav.project-navigation ul.menu-actions li.action-item a {
	height: 40px;
	padding: 10px 40px;
	font-weight: bold;
	color: #FFFFFF;
}

/*******************************************************************************
* ADMIN BUTTON
*******************************************************************************/
div#content.version-3 div.project-admin {
	position: fixed;
	right: 0px;
	top: 90px;
	z-index: 2;
}
div#content.version-3 div.project-admin > a, div#content.version-3 div.project-admin > div.btn-edit {
	display: block;
	width: 140px;
	margin-bottom: 10px;
	padding: 5px 20px;
	font-weight: bold;
	text-transform: uppercase;
	color: #000000;
	background-color: #D3EAE9;
}
.edit-button, .move-button, .wait-button, #wdg-edit-project-add-lang button.add-button {
	background-color: #D3EAE9;
}
div#content.version-3 div.project-admin > div.btn-edit.edit-button-validate {
	background-color: #00879B;
}
#wdg-edit-project-add-lang {
	color: #000000;
}
div#content.version-3 div.project-admin > div.btn-edit {
	display: none;
	cursor: pointer;
}
div#content.version-3 div.project-admin > div.btn-edit:before {
    content: "Mode Edition";
}
div#content.version-3 div.project-admin > div.btn-edit.btn-edit-validate:before {
    content: "Mode Normal";
}
.en_US div#content.version-3 div.project-admin > div.btn-edit:before {
    content: "Edition Mode";
}
.en_US div#content.version-3 div.project-admin > div.btn-edit.btn-edit-validate:before {
    content: "Normal Mode";
}

#wdg-edit-project-add-lang {
	display: none;
    position: fixed;
    top: 165px;
    right: 0px;
	width: 149px;
	color: #000;
	cursor: pointer;
}
#wdg-edit-project-add-lang select, #wdg-edit-project-add-lang button.add-button {
	display: none;
}
#wdg-edit-project-add-lang select {
	width: 120px;
}
#wdg-edit-project-add-lang button.add-button {
	padding: 0px 4px;
	border: 0px;
	font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
	background: #000;
	cursor: pointer;
}
.editable {
    border: 1px dashed #2B2C2C;
}
.edit-button, .edit-button-validate, .move-button, .wait-button {
    position: absolute;
    cursor: pointer;
    width: 30px;
    height: 30px;
    margin-left: 5px;
    z-index: 150;
}
.edit-button {
    background: url("../../images/editer.png") #D3EAE9 center no-repeat;
    position: absolute;
    min-height: 24px;
}
.edit-button-validate {
    background: url("../../images/enregistrement.png") #D3EAE9 center no-repeat;
}
.move-button {
    background: url("../../images/position.png") #D3EAE9 center no-repeat;
}
.wait-button {
    background: url("../../images/chargement.gif") #D3EAE9 center no-repeat;
}

#wdg-input-title { position: relative; width: 70%; }
#wdg-input-subtitle { width: 100%; height: 50px; }
#wdg-input-rewards {
    margin-left: 15px;
    text-align: center;
}
#wdg-edit-rewards, #wdg-validate-rewards {
    margin-left: 20px;
}

.projects-desc-content .zone-edit .wp-editor-wrap .wp-editor-container .wp-editor-area {
    min-height: 500px !important;
}

#head-image #wdg-edit-picture-head {
    display: none;
    left: 28px;
    top: 106px;
}
#head-image #wdg-move-picture-head {
    display: none;
    position: absolute;
    top: 106px;
    left: 62px;
    z-index: 150;
}
#content.editing #wdg-move-picture-head, #content.editing #wdg-edit-picture-head {
    display: block;
}

#wdg-move-picture-location {
    display: none;
    position: relative;
    float: left;
    left: 250px;
    top: -200px;
}
#content.editing #wdg-move-picture-location {
    display: block;
}

.video-zone.editable:before {
    content: "Image d'apercu / Video";
}
.video-zone.editable {
    background-color: #F2F2F2;
    padding-top: 20px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    height: 305px !important;
    min-height: 305px !important;
}

/*******************************************************************************
* BANNER
*******************************************************************************/
div#content.version-3 div.project-banner {}
div#content.version-3 div.project-banner div.project-banner-title div.project-banner-info-item.author-info p {
        margin-bottom: 25px;
}

div#content.version-3 div.project-banner .project-banner-content {
    height: 400px;
    overflow: hidden;
}

div#content.version-3 div.project-banner div.project-banner-content div.banner-half.left {
	width: 65%;
	text-align: center;
}
div#content.version-3 div.project-banner div.project-banner-content div.banner-half.left iframe {
	width: 100%;
	height: 400px;
}
div#content.version-3 div.project-banner div.project-banner-content div.banner-half.left img {
	width: 100%;
}

div#content.version-3 div.project-banner div.project-banner-content div.banner-half.right {
    width: 32%;
	height: 400px;
	padding: 15px 1%;
	background-color: #FFF;
}

div#content.version-3 div.project-banner div.project-banner-content div.banner-half.right div.project-banner-info-item {
    margin: 10px 5px;
}
div#content.version-3 div.project-banner div.project-banner-content div.banner-half.right div.project-banner-info-item img {
    vertical-align: middle;
    width: 30px;
}
div#content.version-3 div.project-banner div.project-banner-content div.banner-half.right div.project-banner-info-item span {
    vertical-align: middle;
}
div#content.version-3 div.project-banner div.project-banner-content div.banner-half.right div.project-banner-info-actions {
	height: 50px;
	text-align: right;
}

div#content.version-3 div.project-banner div.project-banner-content div.banner-half.right div.project-banner-info-actions div.impacts-container {
	position: relative;
	display: inline-block;
	float: left;
	width: auto;
	margin: 0px;
}
div#content.version-3 div.project-banner div.project-banner-content div.banner-half.right div.project-banner-info-actions div.impacts-container .impact-logo {
	cursor: auto;
	display: inline;
}
div#content.version-3 div.project-banner div.project-banner-content div.banner-half.right div.project-banner-info-actions div.impacts-container .impact-logo:hover {
	transform: none;
	border: 0px;
}
div#content.version-3 div.project-banner div.project-banner-content div.banner-half.right div.project-banner-info-actions a {
	display: inline-block;
	padding: 13px;
	font-size: 12pt;
	line-height: 20px;
        vertical-align: middle;
}
div#content.version-3 div.project-banner div.project-banner-content div.banner-half.right div.project-banner-info-actions a.btn-followed {
	background: #D3EAE9;
	border: #D3EAE9;
	color: #333;
}
div#content.version-3 div.project-banner div.project-banner-content div.banner-half.right div.project-banner-info-actions a:last-child {
        line-height: 16px;
        padding: 0;
}
div#content.version-3 div.project-banner div.project-banner-content div.banner-half.right div.project-banner-info-actions a img {
	height: 24px;
        width: 22px;
        padding: 10px;
}


div#content.version-3 div.project-banner div.project-banner-content div.banner-half.right div.project-pitch-text {
	height: 122px;
        margin: 10px auto;
        text-align: justify;
        overflow: hidden;
        line-height: 1.25;
}
div#content.version-3 div.project-banner div.project-banner-content div.banner-half.right div.project-pitch-text p {
	text-align: justify;
	font-size: 11pt;
}

div#content.version-3 div.project-banner div.project-banner-content div.banner-half.right div.progress-bar {
	position: relative;
	top: 0px;
}
div#content.version-3 div.project-banner div.project-banner-content div.banner-half.right div.left {
	width: 33.33%;
	margin: 20px 0px;
	text-align: center;
	text-transform: uppercase;
}
div#content.version-3 div.project-banner div.project-banner-content div.banner-half.right div.left.bordered {
	width: -webkit-calc(33.33% - 4px);
	width: -moz-calc(33.33% - 4px);
	width: calc(33.33% - 4px);
	border-left: 2px solid;
	border-right: 2px solid;
}
div#content.version-3 div.project-banner div.project-banner-content div.banner-half.right div.left.bordered span:last-child {
        font-size: 9pt;
}
div#content.version-3 div.project-banner div.project-banner-content div.banner-half.right div.left span:first-child {
	font-size: 12pt;
	font-weight: bold;
}
div#content.version-3 div.project-banner div.project-banner-content div.banner-half.right div.left span:last-child {
        font-size: 9pt;
}
div#content.version-3 div.project-banner div.project-banner-content div.banner-half.right div.end-sentence {
        margin: 20px auto;
        text-align: justify;
        font-size: 12pt;
        text-transform: uppercase;
}
div#content.version-3 div.project-banner div.project-banner-content div.banner-half.right a.button.red {
	display: inline-block;
	width: -webkit-calc(100% - 32px);
	width: -moz-calc(100% - 32px);
	width: calc(100% - 32px);
	padding: 20px 15px;
	font-size: 12pt;
	font-weight: bold;
	text-align: center;
}

div#content.version-3 div.project-banner div.project-banner-content div.banner-half.right div.project-banner-info-item.author-info {
    margin-top: 30px;
	margin-bottom: 20px;
}

div#content.version-3 div.project-banner div.subtitle {
	height: 50px;
	padding: 10px 0px;
	font-size: 10pt;
}

div#content.version-3 div#triggered-menu-share {
	display: none;
    position: relative;
	margin-top: -400px;
    margin-bottom: 350px;
}
div#content.version-3 div#triggered-menu-share.triggered {
    display: block;
}

div#content.version-3 #wdg-move-picture-head {
    display: none;
    position: absolute;
    top: 0px;
    left: 40px;
    z-index: 150;
}
div#content.version-3.editing #wdg-move-picture-head {
    display: block;
}

/*******************************************************************************
* TIMELINE
*******************************************************************************/
div#content.version-3 div.project-timeline {
	margin: 20px 5px 20px 5px;
	text-align: center;
}
div#content.version-3 div.project-timeline span.greater {
	padding: 5px;
}
div#content.version-3 div.project-timeline span.selected {
	font-weight: bold;
}

/*******************************************************************************
* REWARDS
*******************************************************************************/
div#content.version-3 div.project-rewards-content {
	padding: 40px 0px;
}

div#content.version-3 div.project-rewards-content div.project-rewards-padder p.half-form-count input {
	height: 30px;
	background: rgba(51, 51, 51, 0.05);
	border: 2px solid rgba(51, 51, 51, 0);
}
div#content.version-3 div.project-rewards-content div.project-rewards-padder p.half-form-count span {
	font-size: 14pt;
}
div#content.version-3 div.project-rewards-content div.project-rewards-padder p.half-form-count span.input-suffix {
	display: inline-block;
	width: 20px;
	margin-left: -30px;
	font-size: 12pt;
}
div#content.version-3 div.project-rewards-content div.project-rewards-padder p.half-form-count button {
	height: 36px;
}

div#content.version-3 div.project-rewards-content div.project-rewards-padder p {
	width: 600px;
	margin: 10px auto;
}
div#content.version-3 div.project-rewards-content span.roi_percent_user, div#content.version-3 div.project-rewards-content span.roi_amount_user {
    font-weight: bold;
	color: #93626D;
}
div#content.version-3 div.project-rewards-content table {
    margin: 30px auto 15px;
}
div#content.version-3 div.project-rewards-content table:before {
	position: relative;
	top: 70px;
	border-top: 1px solid;
}
div#content.version-3 div.project-rewards-content table tr:first-child {
    font-weight: bold;
}
div#content.version-3 div.project-rewards-content table tr td {
    min-width: 75px;
    text-align: center;
}
div#content.version-3 div.project-rewards-content table tr td > div {
	margin: auto;
	width: 40px;
	height: 70px;
	background: #93626D;
}
div#content.version-3 div.project-rewards-content table tr td > div > div {
	background: #FFF;
	vertical-align: bottom;
}
div#content.version-3 div.project-rewards-content table tr:last-child td div {
	color: #93626D;
}
div#content.version-3 div.project-rewards-content table tr:last-child td span.roi_amount_user_container {
	position: relative;
	top: -20px;
	font-size: 8pt;
}
div#content.version-3 div.project-rewards-content div.project-rewards-alert {
	text-align: center;
}
div#content.version-3 div.project-rewards-content div.project-rewards-alert span.small-alert {
	font-style: italic;
	font-size: 11px;
}
div#content.version-3 div.project-rewards-content input.button.red {
	padding: 10px 80px;
	font-size: 12pt;
	font-weight: bold;
}

/*******************************************************************************
* DESCRIPTION
*******************************************************************************/
div#content.version-3 div.project-expander {
    position: relative;
    width: 100%;
    height: 28px;
    background: url("../../images/responsive-plus.png") no-repeat center center;
}
div#content.version-3 div.project-description-item {
        position: relative;
        margin-top: 5%;
}
div#content.version-3 div.project-description-item div.projects-desc-content-picto {
	display: inline-block;
        position: absolute;
        z-index: 1;
        top: -60px;
	width: 90px;
        margin-left: 46%;
        padding: 2%;
        border-radius: 100% 100% 0% 0%;
	text-align: center;
        background-color: #FFF;
}
div#content.version-3 div.project-description-item div.projects-desc-content-picto img[alt="model"]{
        margin-top: 10px;
        margin-left: 8px;
}

div#content.version-3 .projects-desc-content {
    position: relative;
    display: inline-block;
	width: 960px;
	margin-bottom: 40px;
	padding: 25px;
	vertical-align: top;
    background-color: #FFF;
    cursor: pointer;
}
div#content.version-3 div.project-description {
	background: rgba(51, 51, 51, 0.05);
	padding-bottom: 40px;
}
div#content.version-3 div.project-description div.projects-desc-content .projects-more {
    position: relative;
    width: 30px;
    height: 30px;
	margin: 20px auto 0px;
	border: 2px solid #333;
	font-size: 17pt;
	text-align: center;
    cursor: pointer;
}
div#content.version-3 div.project-description div.projects-desc-content .projects-more:after {
	content: "+";
}

div#content.version-3 .projects-desc-content h3{
    margin-top: 35px;
    text-transform: uppercase;
    font-size: 13pt;
    font-style: normal;
	text-align: center;
	color: #333333;
}
div#content.version-3 .projects-desc-content p, div#content.version-3 .projects-desc-content h4 {
    padding: 0px 0px 10px;
}
div#content.version-3 .projects-desc-content div.expandable,
div#content.version-3 .projects-desc-content h1,
div#content.version-3 .projects-desc-content h2,
div#content.version-3 .projects-desc-content h3,
div#content.version-3 .projects-desc-content h5,
div#content.version-3 .projects-desc-content h6{
    padding-left: 0px;
}
div#content.version-3 .projects-desc-content iframe {
	max-width: 100%;
}

div#content.version-3 .projects-desc-content p img {
    max-width: 100%;
    height: auto;
 }
div#content.version-3 .projects-desc-content p img.aligncenter {
    display: block !important;
    margin: 0px auto;
}
div#content.version-3 .projects-desc-content p img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}
div#content.version-3 .projects-desc-content p img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}
div#content.version-3 .projects-desc-content table {
    width: 755px;
    margin: 0px 25px;
    border-spacing: 0px;
    border-collapse: collapse;
}
div#content.version-3 .projects-desc-content table td {
    border: 1px dashed #2B2C2C;
}
div#content.version-3 .projects-desc-content blockquote {
    font-style: italic;
    font-size: 16px;
}
div#content.version-3 .vertical-align-middle {
    vertical-align: middle;
}
div#content.version-3 .grey-triangle {
    position: relative;
    left: -5px;
}
#wp-link .howto, #wp-link #search-panel, #wp-link #wp-link-close .screen-reader-text {
    display: none !important;
}
#wp-link-wrap {
    height: 250px !important;
}

/*******************************************************************************
* NEWS
*******************************************************************************/
div#content.version-3 .project-news {
	border-bottom: 2px solid #333333;
}
div#content.version-3 .project-news .project-news-item {
	padding: 20px;
	border-top: 2px solid #000000;
}
div#content.version-3 .project-news .project-news-item a {
	text-transform: uppercase;
	color: #00879B;
	font-size: 14pt;
}
div#content.version-3 .project-news .project-news-item span.project-news-item-date {
	font-size: 10pt;
}
div#content.version-3 .project-news .project-news-item a.button {
	display: inline-block;
	margin: 15px 0px;
	padding: 10px 60px;
	color: #000000;
}

/*******************************************************************************
* COMMENTS
*******************************************************************************/
div#content.version-3 .project-comments {
	margin-bottom: 30px;
}
div#content.version-3 .comment-avatar-box {
	display: none;
}
div#content.version-3 .project-comments ul {
	margin: 0px 0px 15px; padding: 0px 0px 0px 20px;
}
div#content.version-3 .project-comments li {
	list-style: none;
	margin-bottom: 5px;
}
div#content.version-3 .project-comments .comment-respond {
	margin: auto;
	width: 500px;
}
div#content.version-3 div.project-comments div.comment-respond p.form-submit {
	text-align: center;
}
div#content.version-3 div.project-comments div.comment-respond p.form-submit input[type="submit"] {
	padding: 10px 40px;
	font-size: 13pt;
	background: #D3EAE9;
	color: #000;
}


/*******************************************************************************
* APPARENCE vote form V3 (lightbox)
*******************************************************************************/
.return, .next, .block1, .block2, .block3, .frise{
    display:inline-block;
    vertical-align:middle;
    margin: 3px;
}

.return, .next{
	cursor:pointer;
    width: 10%;
    display: inline-block;
    text-align: center;
    height: 200px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.return {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.return:hover, .next:hover{
	background-size: 90%;
    filter: grayscale(50%);
    -webkit-filter: grayscale(50%);
    -moz-filter: grayscale(50%);
    -ms-filter: grayscale(50%);
    -o-filter: grayscale(50%);
}
.block1 ul li, .block2 ul li, .block3 ul li{
    display:block !important;
    margin:0px !important;
    height: auto !important;
    margin-top: 10px !important;
    margin-bottom: 5px !important;
}

.block1 ul, .block2 ul, .block3 ul{
    margin:0px !important;
}

.block1, .block2, .block3{
    font-size: 14px !important;
    margin-bottom: 10px !important;
    text-align: center;
    margin-top: 15px;
}

.block2{
    width: 60%;
}

.block1, .block3{
    width: 80%;
}



.block1 ul ,.block2 ul ,.block3 ul {
    -webkit-padding-start: initial;
}


/****************** style vote form v3 ****************************/

 input[type=range] {
    -webkit-appearance: none;
    background: none !important;

}
.ypvote-form_v3 input[type=range] {
    /*removes default webkit styles*/
    -webkit-appearance: none;
    
    /*fix for FF unable to apply focus style bug */
    border: 1px solid white;
    margin-bottom: -5px;
    /*required for proper track sizing in FF*/
    width: 150px;
}

.ypvote-form_v3 input[type=range]::-webkit-slider-runnable-track {
    width: 150px;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}

.ypvote-form_v3 input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #333333;
    margin-top: -4px;
}

.ypvote-form_v3 input[type=range]:focus {
    outline: none;
}

.ypvote-form_v3 input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}


.ypvote-form_v3 input[type=range]::-moz-range-track {
    width: 150px;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}

.ypvote-form_v3 input[type=range]::-moz-range-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #333333;
}

/*hide the outline behind the border*/

.ypvote-form_v3 input[type=range]:-moz-focusring{
    outline: 1px solid white;
    outline-offset: -1px;
}


.ypvote-form_v3 input[type=range]::-ms-track {
    width: 150px;
    height: 5px;
    
    /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
    background: transparent;
    
    /*leave room for the larger thumb to overflow with a transparent border */
    border-color: transparent;
    border-width: 6px 0;

    /*remove default tick marks*/
    color: transparent;
}

.ypvote-form_v3 input[type=range]::-ms-fill-lower {
    background: #777;
    border-radius: 10px;
}

.ypvote-form_v3 input[type=range]::-ms-fill-upper {
    background: #ddd;
    border-radius: 10px;
}

.ypvote-form_v3 input[type=range]::-ms-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #333333;
}

.ypvote-form_v3 input[type=range]:focus::-ms-fill-lower {
    background: #888;
}

.ypvote-form_v3 input[type=range]:focus::-ms-fill-upper {
    background: #ccc;
}



.ypvote-form_v3{
	display: inline;
}

.ypvote-form_v3 em{
    font-style: normal;
    font-size: 14px !important;
}

.vote_submit_v3{
    background:#EA4F51 !important;
    color:white !important;
    text-transform: uppercase;
}


.vote_submit_v3:hover{
	opacity: 0.8;
}

.range-slider__value{
    color: white;
    background: #333333;
    border-radius: 30px 30px 30px 30px;
    text-align: left;
    padding-left: 5px;
    padding-right: 5px;
    width: auto !important;
    display: inline-block;
    width: 70px !important;
    text-align: center;
    margin-top: 5px;
}

#btn-validate_project-false-v3:checked+span,
#btn-validate_project-true-v3:checked+span{
    color: #333333 !important;
    font-weight: bold;
}

#btn-validate_project-false-v3,
#btn-validate_project-true-v3{
    display: none;
}

#btn-validate_project-false-v3+span:before,
#btn-validate_project-true-v3+span:before{
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    border: 2px solid #333333;
    margin-right: 5px;
    margin-bottom: -2px;
    border-radius: 20px;
}

#btn-validate_project-true-v3:checked+span:before,
#btn-validate_project-false-v3:checked+span:before{
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    border: 2px solid #333333;
    margin-right: 5px;
    margin-bottom: -2px;
    border-radius: 20px;
    background: #333333;
}

.next, .return, #more_info_service_v3, #more_info_impact_v3, #more_info_team_v3, #more_info_finance_v3,
.span_more_info, .span_share_advice, .span_validate_project, .ypvote-form_v3 input[type=range]
  {
    cursor:pointer;
}

.radio_validate {
    text-align: left;
    padding-left: 45%;
    padding-top: 10px;
}
#more_info_service_v3,
#more_info_impact_v3,
#more_info_team_v3,
#more_info_finance_v3{
    margin-left: 60px !important;
}

#more_info_service_v3:checked+span,
#more_info_impact_v3:checked+span,
#more_info_team_v3:checked+span,
#more_info_finance_v3:checked+span{
    color:#333333 !important;
    font-weight: bold;
}
input[name='share_advice']:checked+span{
    color:#333333 !important;
}
#more_info_service_v3,
#more_info_impact_v3,
#more_info_team_v3,
#more_info_finance_v3,
input[name='share_advice']{
    display: none;
}

#more_info_service_v3+span:before,
#more_info_impact_v3+span:before,
#more_info_team_v3+span:before,
#more_info_finance_v3+span:before,
input[name='share_advice']+span:before{
    content: "";
    color:#333333;
    display: inline-block;
    width: 12px;
    height: 12px;
    border: 2px solid #333333;
    margin-right: 5px;
    margin-bottom: -2px;
    text-align: center;
}

#more_info_service_v3:checked+span:before,
#more_info_impact_v3:checked+span:before,
#more_info_team_v3:checked+span:before,
#more_info_finance_v3:checked+span:before,
input[name='share_advice']:checked+span:before
{
    content: "";
    color:white;
    display: inline-block;
    width: 12px;
    height: 12px;
    border: 2px solid #B5B2B2;
    margin-right: 5px;
    margin-bottom: -2px;
    background: #333333;
    text-align: center;
}

.more-info-list_v3 span, .more-info-list_v3 input{
    cursor:pointer;
}


#impact_other_v3{
    width: 40%;
    margin-right: 20%;
}

#investir_sum_v3{
    margin-top: 10px;
}

.action-item{
    height: 0px;
}


div#content.version-3.scrolled nav.project-navigation ul li {
    text-align: left;
}

#phase1 input[type=text]{
    margin:5px;
    cursor: text;
    width: 150px;
    padding: 3px 0px;
}

#thanks{
    text-align: center;
    line-height: 0.8;
}

#thanks a{
	padding-top: 20%;
    background-repeat: no-repeat;
    width: 20%;
    display: inline-block;
    background-position: center;
    margin: 5px;
}
#thanks a:hover{
    opacity: 0.7;
}

.impact_span, .result_box{
    width: 100px;
    display: inline-block;
}

.result_box{
    right:0px;
}

#more_info_other_v3, #invest_sum_v3{
    cursor: text;
}

#errors{
    color:#EA4F51;
    text-align: center;
    font-size: 10pt;
}


ul.more-info-list_v3{
    text-align: center;

}

textarea#advice_v3, input#more_info_other_v3{
    max-width: 95%;
    font-size: 14px;
}

textarea#advice_v3{
	padding-top: 0px;
}

#impact_other_v3{
    font-size: 14px;
}


span.span_more_info {
    display: inline-block;
    width: 80%;
    text-align: left;
	max-width: 250px;
}

span.span_risk{
	width: 90px;
	display: inline-block;
}
#note_risk {
    margin-top: 0px;
    padding: 0px !important;
}

#choice_risk{
	margin-top: 5px;
}

#wdg-lightbox-vote .wdg-lightbox-padder {
    overflow-x: hidden;
}

span.block_thanks_1, span.block_thanks_2, span.block_thanks_3 {
    display: block;
    width: 90%;
    text-align: center;
}

#more-info-share{
	text-align: left;
    margin-left: 9px !important;
}

.ypvote-form_v3 ul{
	padding:0px;
}

.frise{
	width: 100%;
    text-align: center;
    padding-top: 5px;
}

.frise_input {
	display: inline-block;
    width: 35px;
    height: 35px;
    background: none !important;
}

.hr_block_vs_frise{
	border: 0 !important;
    height: 0 !important;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3) !important;

}

div#hide_except_div1, div#hide_except_div2_phase3 {
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
    -moz-filter: grayscale(1);
    -o-filter: grayscale(1);
    -ms-filter: grayscale(1);
}

.frise_input {
    margin-right: 8%;
}
/************ style animation phase1, phase2, phase3 ************/


#phase1, #phase2, #phase3{
    overflow : hidden !important;
    width: 100%;
	text-align: center;
}

#phase1.left, #phase2.left, #phase3.left{
    animation-name: slideLeft;
    -webkit-animation-name: slideLeft;  

    animation-duration: 0.5s; 
    -webkit-animation-duration: 0.5s;

    animation-timing-function: ease-in-out; 
    -webkit-animation-timing-function: ease-in-out;     
}

@keyframes slideLeft {
    0% {
        transform: translateX(150%);
    }
    65%{
        transform: translateX(4%);
    }
    80%{
        transform: translateX(-4%);
    }
    95%{
        transform: translateX(2%);
    }           
    100% {
        transform: translateX(0%);
    }
}

@-webkit-keyframes slideLeft {
    0% {
        -webkit-transform: translateX(150%);
    }
    65%{
        -webkit-transform: translateX(4%);
    }
    80%{
        -webkit-transform: translateX(-4%);
    }
    95%{
        -webkit-transform: translateX(2%);
    }           
    100% {
        -webkit-transform: translateX(0%);
    }
}


#phase1.left_disappearance, #phase2.left_disappearance, #phase3.left_disappearance{
    animation-name: slideLeft_disp;
    -webkit-animation-name: slideLeft_disp;  

    animation-duration: 0.5s; 
    -webkit-animation-duration: 0.5s;

    animation-timing-function: ease-in-out; 
    -webkit-animation-timing-function: ease-in-out;     
}

@keyframes slideLeft_disp {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(150%);
    }
}

@-webkit-keyframes slideLeft_disp {
    0% {
        -webkit-transform: translateX(0%);
    }
    100% {
        -webkit-transform: translateX(150%);
    }           
}

#phase1.right, #phase2.right, #phase3.right{
    animation-name: slideRight;
    -webkit-animation-name: slideRight; 

    animation-duration: 0.5s; 
    -webkit-animation-duration: 0.5s;

    animation-timing-function: ease-in-out; 
    -webkit-animation-timing-function: ease-in-out;     
}


@keyframes slideRight {
    0% {
        transform: translateX(-150%);
    }
    50%{
        transform: translateX(8%);
    }
    80%{
        transform: translateX(4%);
    }
    95%{
        transform: translateX(-2%);
    }           
    100% {
        transform: translateX(0%);
    }   
}

@-webkit-keyframes slideRight {
    0% {
        -webkit-transform: translateX(-150%);
    }
    50%{
        -webkit-transform: translateX(8%);
    }
    80%{
        -webkit-transform: translateX(4%);
    }
    95%{
        -webkit-transform: translateX(-2%);
    }           
    100% {
        -webkit-transform: translateX(0%);
    }
}

#phase1.right_disappearance, #phase2.right_disappearance, #phase3.right_disappearance{
    animation-name: slideRight_dis;
    -webkit-animation-name: slideRight_dis; 

    animation-duration: 0.5s; 
    -webkit-animation-duration: 0.5s;

    animation-timing-function: ease-in-out; 
    -webkit-animation-timing-function: ease-in-out;     
}


@keyframes slideRight_dis {
    0% {
        transform: translateX(0%);
    }   
    100% {
        transform: translateX(-150%);
    }          
}

@-webkit-keyframes slideRight_dis {           
    0% {
        -webkit-transform: translateX(0%);
    }
    100% {
        -webkit-transform: translateX(-150%);
    }
}

#wdg-edit-picture-head-next_valid, #wdg-edit-picture-head-next_cancel, #wdg-edit-picture-head-next_update, #wdg-edit-video-image_update, #wdg-edit-video-zone-next_cancel, #wdg-edit-video-zone-next_valid{
	background: #A4DBDE;
    height: 25px;
    color: #000000;
    font-weight: bold;
    border: none;
    cursor: pointer;
	text-transform: uppercase;
}

#wdg-edit-picture-head-next_valid{
	margin-left: 5px;
}

#wdg-edit-picture-head-next_cancel{
	margin-left: 10px;
}


#wdg-edit-video-image_update, #text_url_video{
	width: 100%;
	height: 44px;
}

#wdg-edit-video-image_update, #wdg-edit-picture-head-next_update{
	height: 35px;
	text-align: center;
}
#wdg-edit-picture-head-next_update{
    width: 180px;
}
#wdg-edit-video-image_update{
    width: 255px;
}
#wdg-edit-video-zone-next_cancel, #wdg-edit-video-zone-next_valid, #wdg-edit-picture-head-next_valid, #wdg-edit-picture-head-next_cancel{
	height: 37px;
	width: 65px;
}


.input_text_error{
    border:solid 0.5px red; 
    border-radius:5px;
}

.input_text_good{
    border:solid 0.5px green; 
    border-radius:5px;
}

#apercu_image, #apercu_video, #wdg-edit-video-image_update, #upload-video-form {
	width: 48%;
	display: inline-block;
	float: left;
	margin: 0 1% 1% 0;
	text-align: center;
}

#apercu_image, #apercu_video{
	height: 228px;
}

#wdg-edit-video-image_update, #upload-video-form {
	height: 50px;
}

#video-zone-image{
	width: auto;
	height: auto;
	max-height: 90%;
	max-width: 90%;
}

#wdg-edit-video-zone-next_cancel, #wdg-edit-video-zone-next_valid {
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}



/*******************************************************************************
* WIDE SCREENS
*******************************************************************************/
@media screen and (min-width: 768px) {
	nav#main.scrolled { display: none; }
	div#content.version-3.scrolled nav.project-navigation { position:fixed; z-index: 2; width: 100%; top: 0px; }
}

/*******************************************************************************
* RESPONSIVE MEDIUM
*******************************************************************************/
@media screen and (max-width: 997px) {
	div#content.version-3 div.project-banner div.project-banner-content div#triggered-menu-share.triggered { width: 768px; }
	div#content.version-3 div.project-rewards-content > div:first-child, div#content.version-3 div.project-rewards-content > div:first-child img { width: 100px; }
	div#content.version-3 div.project-rewards-content > div:last-child { width: 630px; margin-left: 10px; }
	
	.campaign-mobile-hidden { display: none; }
	nav#navigation { display: block; }
	div#content.version-3 .padder { margin-top: 0px; }
	div#content.version-3 nav.project-navigation { display: none; }
	div#content.version-3 div.project-admin { top: 37px; }
	div#content.version-3 div.project-admin #wdg-edit-project { top: 105px; }
	div#content.version-3 div.separator-title span { font-size: 28px; }
	div#content.version-3 div.project-banner-img, div#content.version-3 div.project-banner-deco { display: none; }
	div#content.version-3 div.project-timeline { display: none; }
	div#content.version-3 div.project-banner div.project-banner-content div.banner-half.left,
	div#content.version-3 div.project-banner div.project-banner-content div.banner-half.right {
		float: none;
		width: -webkit-calc(100% - 20px);
		width: -moz-calc(100% - 20px);
		width: calc(100% - 20px);
		padding: 10px;
	}
	div#content.version-3 div.project-banner div.project-banner-content div.banner-half.right { height: auto; }
	div#content.version-3 div.project-banner div.project-banner-content div.banner-half.right div.separator { display: none; }
	div#content.version-3 div.project-banner div.project-banner-content div.banner-half.right div.progressbar-bg { background: #FFFFFF; }
	div#content.version-3 div.project-banner div.project-banner-content div.banner-half.right div.progressbar-bg div.progressbar-complete { background: #EA4F51; }
	div#content.version-3 div.project-banner div.project-banner-content div.banner-half.right div.progressbar { margin: 80px auto 0px; width: 310px; }
	div#content.version-3 div.project-banner div.project-banner-content div.banner-half.right div.project-banner-logos { margin: -100px auto 0px; width: 230px; }
	div#content.version-3 div.project-banner div.project-banner-content div.banner-half.right div.project-banner-logos div.project-banner-info-item { display: inline-block; width: 60px; text-align: center; }
	div#content.version-3 div.project-banner div.project-banner-content div.banner-half.right div.project-banner-info-item.author-info { margin-top: 65px; }
	div#content.version-3 div.project-banner div.project-banner-content div.banner-half.right div.project-banner-info-item.author-info p { margin: 2px 0px; }
	div#content.version-3 div.project-banner div.project-banner-content div.banner-half.right div.project-banner-info-item span.hidden { display: inline; }
	div#content.version-3 div.project-banner div.project-banner-content div.banner-half.right div.project-banner-info-item img { width: 40px; display: block; margin: auto; }
	div#content.version-3 div.project-banner div.project-banner-content div.banner-half.right div.logos_zone.vote { margin: 15px auto 0px; width: 320px; }
	div#content.version-3 div.project-banner div.project-banner-content div.banner-half.right div.logos_zone.vote div.post_bottom_infos_item { display: inline-block !important; width: 50px; margin: 0px 5px; text-align: center; }
	div#content.version-3 div.project-banner div.project-banner-content { height: auto; }
	div#content.version-3 div.project-banner div.project-banner-content div.banner-half.right div.left span:last-child { font-size: 11pt; }
	div#content.version-3 div.project-banner div.subtitle { display: none; }
	div#content.version-3 div.project-pitch div.project-pitch-title { display: none; }
	div#content.version-3 div.project-pitch div.project-pitch-text { margin: 5px 1%; width: 98%; height: auto; }
	div#content.version-3 div.project-pitch div.project-pitch-video { margin: 5px 1%; width: 98%; }
	div#content.version-3 div.project-rewards-content { width: 98%; margin: 0% 1%; padding-top: 0px; }
	div#content.version-3 div.project-rewards-content div.project-rewards-padder { width: 100%; }
	div#content.version-3 div.project-rewards-content div.project-rewards-padder p { width: 100%; }
	div#content.version-3 div.project-rewards-content div.project-rewards-padder > div { float: none; }
	div#content.version-3 div.project-rewards-content div.project-rewards-padder > div:first-child { width: 100%; text-align: center; }
	div#content.version-3 div.project-rewards-content div.project-rewards-padder > div:first-child img { width: 50px; }
	div#content.version-3 div.project-rewards-content div.project-rewards-padder button.init_invest_count { display: block; margin: 7px auto; }
	div#content.version-3 div.project-rewards-content table tr td { min-width: 40px; padding: 0px 3px; }
	div#content.version-3 div.project-description div.project-description-item { width: 96%; margin: 25px 2%; }
	div#content.version-3 div.project-description div.project-description-item img.project-content-icon { display: none; }
	div#content.version-3 div.project-description div.project-description-item img.grey-triangle { display: none; }
	div#content.version-3 div.project-description div.projects-desc-content { width: 100% !important; margin: 0px; padding: 0px; left: 0px; }
	div#content.version-3 div.project-description div.projects-desc-content h2 { margin: 15px 10px; font-size: 18px; text-align: center; text-transform: none; }
	div#content.version-3 div.project-description div.projects-desc-content .projects-more { margin-top: 10px; }
	div#content.version-3 div.project-description div.projects-desc-content p, div#content.version-3 div.project-description div.projects-desc-content h4 { padding: 0px 10px 10px; }
	div#content.version-3 div.project-comments li { margin: 0px 0px 10px 5px; }
	div#content.version-3 div.project-comments div.comment-respond { width: 96%; }
	div#content.version-3 div.project-comments div.comment-respond textarea { width: 98%; }
	div#content.version-3 div.project-responsive-buttons { display: block; position: fixed; bottom: 0px; width: 100%; }
	div#content.version-3 div.project-responsive-buttons a { display: inline-block; background: #FFFFFF; }
	div#content.version-3 div.project-responsive-buttons a.button-action { float: left; }
	div#content.version-3 div.project-responsive-buttons a.button-share { float: right; }
	div#content.version-3 div.project-responsive-buttons a img { width: 80px; }
	div#content.version-3 div.project-responsive-buttons div#triggered-menu-shareresponsive.triggered { position: fixed; display: block; bottom: 50px; right: 0px; padding: 5px; background: #FFFFFF; }
	div#content.version-3 div.project-responsive-buttons div#triggered-menu-shareresponsive.triggered a img { width: 50px; }
}