/*******************************************************************************
* COMMON
*******************************************************************************/
div#content.version-3 div.separator-title {
    height: 43px;
    padding-top: 30px;
    padding-bottom: 13px;
    background-image: url('../../images/traits.jpg');
    background-repeat: repeat-x;
    background-position: center;
    text-align: center;
}
div#content.version-3 div.separator-title span {
    background: #FFFFFF;
    padding-left: 25px;
    padding-right: 25px;
    font-family: 'BebasNeue';
    font-size: 35px;
    text-transform: uppercase;
}

/*******************************************************************************
* NAVIGATION
*******************************************************************************/
#container { padding-top: 0px; }
div#content.version-3 .padder { margin-top: 200px; }
div#content.version-3 .separator {
    background: url("../../images/tiret_noir.png");
    height: 6px;
    margin: 15px 0px;
}

div#content.version-3 nav.project-navigation {
    position: fixed;
    z-index: 2001;
    top: 107px;
    width: 100%;
    height: 80px;
    background-color: #D9D9D9;
}
div#content.version-3 nav.project-navigation ul {
    float: left;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
}
div#content.version-3 nav.project-navigation ul li {
    list-style: none;
    height: 80px;
    vertical-align: middle;
    display: table-cell;
    padding-right: 10px;
}
div#content.version-3 nav.project-navigation ul li a {
    color: #333333;
    text-transform: uppercase;
	font-size: 12px;
}
div#content.version-3 nav.project-navigation ul li a.selected {
	font-weight: bold;
}

div#content.version-3 nav.project-navigation ul.menu-project li:after {
	content: "/";
	color: #333333;
	padding-left: 10px;
}
div#content.version-3 nav.project-navigation ul.menu-project li:last-child:after {
	content: "";
}
div#content.version-3 nav.project-navigation ul.menu-actions {
    float: right;
    width: 320px;
	margin: 10px 0px;
}
div#content.version-3 nav.project-navigation ul.menu-actions li {
	width: 320px;
	height: 60px;
	padding-right: 0px;
    text-align: center;
}
div#content.version-3 nav.project-navigation ul.menu-actions.haslangs li {
    width: 159px;
}
div#content.version-3 nav.project-navigation ul.menu-actions li.action-item a {
	position: relative;
	display: inline-block;
	padding: 10px 15px;
    color: #FFF;
	background: #FF494C;
}
div#content.version-3 nav.project-navigation ul.menu-actions li.action-item a:after {
	position: absolute;
	top: 100%; left: 50%;
	width: 0; height: 0;
	margin-left: -10px;
	border: solid transparent; border-color: rgba(0, 0, 0, 0); border-top-color: #FF494C; border-width: 10px;
	content: " ";
	pointer-events: none;
}

div#content.version-3 nav.project-navigation ul.menu-actions li.lang-item {
	text-align: right;
	color: #FFF;
}
div#content.version-3 nav.project-navigation ul.menu-actions.haslangs li.lang-item {
	border-left: 1px solid #333333;
}
div#content.version-3 nav.project-navigation ul.menu-actions li.lang-item form {
	margin-top: 5px;
}

/*******************************************************************************
* ADMIN BUTTON
*******************************************************************************/
div#content.version-3 div.project-admin {
	position: fixed;
	right: 0px;
	top: 190px;
	z-index: 2;
}
div#content.version-3 div.project-admin > a {
	display: block;
	width: 142px;
	margin-bottom: 7px;
	padding: 5px;
	font-weight: bold;
	background: #A4DBDE;
	color: #FFFFFF;
}
div#content.version-3 div.project-admin div.edit-button, div#content.version-3 div.project-admin div.edit-button-validate {
	width: 113px;
	top: 264px;
}
.edit-button, .move-button, .wait-button, #wdg-edit-project-add-lang button.add-button {
	background-color: #A4DBDE;
}
.edit-button-validate {
	background-color: #41ACB1;
}
#wdg-edit-project-add-lang {
	color: #41ACB1;
}

/*******************************************************************************
* BANNER
*******************************************************************************/
div#content.version-3 div.project-banner {
    height: 370px;
    overflow: hidden;
    position: relative;
	background: #F2F2F2;
}

div#content.version-3 div.project-banner div.project-banner-img, div.project-banner div.project-banner-deco, div.project-banner div.project-banner-content {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
}
div#content.version-3 div.project-banner div.project-banner-deco div.center img {
	margin-top: 70px;
    margin-left: -70px;
}

div#content.version-3 div.project-banner div.project-banner-content div.left h1 {
    display: block;
    position: absolute;
    bottom: 40px;
}
div#content.version-3 div.project-banner div.project-banner-content div.left div.subtitle {
    position: absolute;
    bottom: 10px;
	height: 20px;
}

div#content.version-3 div.project-banner div.project-banner-content div.right {
    background-color: #FFF;
    width: 320px;
    height: 370px;
}

div#content.version-3 div.project-banner div.project-banner-content div.right div.project-banner-info-item {
    margin: 10px 5px;
}
div#content.version-3 div.project-banner div.project-banner-content div.right .progressbar .progressbar-complete {
	background: #FF494C;
}
div#content.version-3 div.project-banner div.project-banner-content div.right div.project-banner-info-item img {
    vertical-align: middle;
    width: 30px;
}
div#content.version-3 div.project-banner div.project-banner-content div.right div.project-banner-info-item span {
    vertical-align: middle;
}
div#content.version-3 div.project-banner div.project-banner-content div.right div.project-banner-info-actions {
	margin-top: 25px;
}
div#content.version-3 div.project-banner div.project-banner-content div.right div.project-banner-info-actions div {
	display: inline-block;
	width: 158px;
	text-align: center;
}
div#content.version-3 div.project-banner div.project-banner-content div.right div.project-banner-info-actions div a {
	display: inline-block;
	width: 85px;
	padding: 10px 20px;
	text-transform: uppercase;
	background: #EEECED;
	color: #333333;
}

div#content.version-3 div.project-banner div.project-banner-content div.right div.project-banner-info-item.author-info {
    margin-top: 30px;
}

div#content.version-3 div.project-banner div.project-banner-content div#triggered-menu-share {
	display: none;
    position: absolute;
    top: 320px;
}
div#content.version-3 div.project-banner div.project-banner-content div#triggered-menu-share.triggered {
    display: block;
	width: 960px;
	text-align: right;
}
div#content.version-3 div.project-banner div.project-banner-content div#triggered-menu-share.triggered span {
	background: #FFFFFF;
	display: inline-block;
	padding: 5px 10px;
}
div#content.version-3 div.project-banner div.project-banner-content div#triggered-menu-share.triggered img {
	width: 40px;
}

div#content.version-3 #wdg-move-picture-head {
    display: none;
    position: absolute;
    top: 80px;
    left: 40px;
    z-index: 150;
}
div#content.version-3.editing #wdg-move-picture-head {
    display: block;
}

/*******************************************************************************
* TIMELINE
*******************************************************************************/
div#content.version-3 div.project-timeline {
	margin: 15px 5px 20px 5px;
	text-align: center;
}
div#content.version-3 div.project-timeline span.greater {
	padding: 5px;
}
div#content.version-3 div.project-timeline span.selected {
	font-weight: bold;
}

/*******************************************************************************
* PITCH
*******************************************************************************/
div#content.version-3 div.project-pitch-text {
    float: left;
    width: 345px;
	text-align: justify;
}
div#content.version-3 div.project-pitch-video {
    float: right;
    width: 580px;
}
div#content.version-3 div.project-pitch-video iframe {
	max-width: 100%;
}

/*******************************************************************************
* REWARDS
*******************************************************************************/
div#content.version-3 div.project-rewards-content div.project-rewards-padder {
	margin: 0px auto 10px;
	width: 600px;
}
div#content.version-3 div.project-rewards-content span.roi_percent_user, div#content.version-3 div.project-rewards-content span.roi_amount_user {
    font-weight: bold;
	color: #74BF43;
}
div#content.version-3 div.project-rewards-content table {
    margin: 15px auto;
}
div#content.version-3 div.project-rewards-content table tr:first-child {
    font-weight: bold;
}
div#content.version-3 div.project-rewards-content table tr td {
    min-width: 75px;
    text-align: center;
}
div#content.version-3 div.project-rewards-content table tr td > div {
	margin: auto;
	width: 30px;
	height: 50px;
	background: #74BF43;
}
div#content.version-3 div.project-rewards-content table tr td > div > div {
	background: #FFF;
}
div#content.version-3 div.project-rewards-content table tr:last-child td {
	color: #74BF43;
}
div#content.version-3 div.project-rewards-content div.project-rewards-alert {
	text-align: center;
}
div#content.version-3 div.project-rewards-content div.project-rewards-alert span.info-user {
	color: #74BF43;
}
div#content.version-3 div.project-rewards-content div.project-rewards-alert span.small-alert {
	font-style: italic;
	font-size: 11px;
}

/*******************************************************************************
* DESCRIPTION
*******************************************************************************/
div#content.version-3 div.project-expander {
    position: relative;
    width: 100%;
    height: 28px;
    background: url("../../images/responsive-plus.png") no-repeat center center;
}

div#content.version-3 .projects-desc-content {
    position: relative;
    display: inline-block;
    width: 805px;
    margin-bottom: 40px;
    left: -9px;
    vertical-align: top;
    background-color: #F2F2F2;
    cursor: pointer;
}
div#content.version-3 div.project-description div.projects-desc-content .projects-more {
	margin-top: 20px;
}
div#content.version-3 .projects-desc-content h2{
    margin-top: 26px;
    margin-left: 25px;
    text-transform: uppercase;
    font-size: 15px;
    font-style: normal;
	color: #FF494C;
}
div#content.version-3 .projects-desc-content p, div#content.version-3 .projects-desc-content h4 {
    padding: 0px 25px 10px;
}
div#content.version-3 .projects-desc-content div.expandable,
div#content.version-3 .projects-desc-content h1,
div#content.version-3 .projects-desc-content h3,
div#content.version-3 .projects-desc-content h5,
div#content.version-3 .projects-desc-content h6{
    padding-left: 25px;
}

div#content.version-3 .projects-desc-content p img {
    max-width: 100%;
    height: auto;
 }
div#content.version-3 .projects-desc-content p img.aligncenter {
    display: block !important;
    margin: 0px auto;
}
div#content.version-3 .projects-desc-content p img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}
div#content.version-3 .projects-desc-content p img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}
div#content.version-3 .projects-desc-content table {
    width: 755px;
    margin: 0px 25px;
    border-spacing: 0px;
    border-collapse: collapse;
}
div#content.version-3 .projects-desc-content table td {
    border: 1px dashed #2B2C2C;
}
div#content.version-3 .projects-desc-content blockquote {
    font-style: italic;
    font-size: 16px;
}
div#content.version-3 .vertical-align-middle {
    display: inline-block;
    vertical-align: middle;
}
div#content.version-3 .grey-triangle {
    position: relative;
    left: -5px;
}
#wp-link .howto, #wp-link #search-panel, #wp-link #wp-link-close .screen-reader-text {
    display: none !important;
}
#wp-link-wrap {
    height: 250px !important;
}

/*******************************************************************************
* NEWS
*******************************************************************************/
div#content.version-3 .project-news-item {
	margin: 0px 20px 20px;
}
div#content.version-3 .project-news-item a {
	text-transform: uppercase;
}

/*******************************************************************************
* COMMENTS
*******************************************************************************/
div#content.version-3 .project-comments {
	margin-bottom: 30px;
}
div#content.version-3 .comment-avatar-box {
	display: none;
}
div#content.version-3 .project-comments ul {
	margin: 0px 0px 15px; padding: 0px 0px 0px 20px;
}
div#content.version-3 .project-comments li {
	list-style: none;
	margin-bottom: 5px;
}
div#content.version-3 .project-comments .comment-respond {
	margin: auto;
	width: 500px;
}
div#content.version-3 div.project-comments div.comment-respond p.form-submit {
	text-align: right;
}


/*******************************************************************************
* WIDE SCREENS
*******************************************************************************/
@media screen and (min-width: 768px) {
	nav#navigation.scrolled { display: none; }
	div#content.version-3.scrolled .padder { margin-top: 63px; }
	div#content.version-3.scrolled nav.project-navigation { top: 0px; height: 50px; }
	div#content.version-3.scrolled nav.project-navigation ul.menu-actions { margin-top: -7px; }
	div#content.version-3.scrolled nav.project-navigation ul li { height: 50px; }
	div#content.version-3.scrolled nav.project-navigation ul li#triggered-menu-hamburger { height: auto; top: 50px; }
	div#content.version-3.scrolled nav.project-navigation ul.menu-actions li.action-item { padding-top: 7px; }
	div#content.version-3.scrolled nav.project-navigation ul.menu-actions li.action-item a:after { border-width: 0px; }
	div#content.version-3.scrolled nav.project-navigation ul.menu-actions li.login-item { padding-top: 7px; }
}

/*******************************************************************************
* RESPONSIVE MEDIUM
*******************************************************************************/
@media screen and (min-width: 768px) and (max-width: 959px) {
	div#content.version-3 .padder { margin-top: 90px; }
	div#content.version-3 nav.project-navigation { top: 57px; }
	div#content.version-3 nav.project-navigation ul.menu-project { margin-left: 0px; }
	div#content.version-3 div.project-banner div.project-banner-content div.left h1,
	div#content.version-3 div.project-banner div.project-banner-content div.left div.subtitle { margin-left: 5px; }
	div#content.version-3 div.project-banner div.project-banner-content div#triggered-menu-share.triggered { width: 768px; }
	div#content.version-3 div.project-pitch-text { width: 36%; margin: 0% 1%; }
	div#content.version-3 div.project-pitch-video { width: 60%; }
	div#content.version-3 div.project-rewards-content { margin: 0px 5px; }
	div#content.version-3 div.project-rewards-content > div:first-child, div#content.version-3 div.project-rewards-content > div:first-child img { width: 100px; }
	div#content.version-3 div.project-rewards-content > div:last-child { width: 630px; margin-left: 10px; }
}

/*******************************************************************************
* RESPONSIVE SMALL
*******************************************************************************/
@media screen and (max-width: 767px) {
	.campaign-mobile-hidden { display: none; }
	nav#navigation { display: block; }
	div#content.version-3 .padder { margin-top: 0px; }
	div#content.version-3 nav.project-navigation { display: none; }
	div#content.version-3 div.project-admin { top: 37px; }
	div#content.version-3 div.project-admin #wdg-edit-project { top: 105px; }
	div#content.version-3 div.separator-title span { font-size: 28px; }
	div#content.version-3 div.project-banner-img, div#content.version-3 div.project-banner-deco { display: none; }
	div#content.version-3 div.project-timeline { display: none; }
	div#content.version-3 div.project-banner { height: 330px; }
	div#content.version-3 div.project-banner div.project-banner-content div.left { float: none; padding: 15px 10px; height: 120px; background-image: url("../../images/footer.png"); }
	div#content.version-3 div.project-banner div.project-banner-content div.left h1 { position: relative; margin: 20px 0px; bottom: auto; color: #FFFFFF; font-size: 30px; font-weight: normal; text-transform: uppercase; }
	div#content.version-3 div.project-banner div.project-banner-content div.left div.subtitle { position: relative; bottom: auto; color: #FFFFFF; }
	div#content.version-3 div.project-banner div.project-banner-content div.right { width: 100%; height: 180px; background: #EEECED; }
	div#content.version-3 div.project-banner div.project-banner-content div.right div.separator { display: none; }
	div#content.version-3 div.project-banner div.project-banner-content div.right div.progressbar-bg { background: #FFFFFF; }
	div#content.version-3 div.project-banner div.project-banner-content div.right div.progressbar-bg div.progressbar-complete { background: #FF494C; }
	div#content.version-3 div.project-banner div.project-banner-content div.right div.progressbar { margin: 80px auto 0px; width: 310px; }
	div#content.version-3 div.project-banner div.project-banner-content div.right div.project-banner-logos { margin: -100px auto 0px; width: 230px; }
	div#content.version-3 div.project-banner div.project-banner-content div.right div.project-banner-logos div.project-banner-info-item { display: inline-block; width: 60px; text-align: center; }
	div#content.version-3 div.project-banner div.project-banner-content div.right div.project-banner-info-item.author-info { margin-top: 65px; }
	div#content.version-3 div.project-banner div.project-banner-content div.right div.project-banner-info-item.author-info p { margin: 2px 0px; }
	div#content.version-3 div.project-banner div.project-banner-content div.right div.project-banner-info-item span.hidden { display: inline; }
	div#content.version-3 div.project-banner div.project-banner-content div.right div.project-banner-info-item img { width: 40px; display: block; margin: auto; }
	div#content.version-3 div.project-pitch div.project-pitch-title { display: none; }
	div#content.version-3 div.project-pitch div.project-pitch-text { margin: 5px 1%; width: 98%; height: auto; }
	div#content.version-3 div.project-pitch div.project-pitch-video { margin: 5px 1%; width: 98%; }
	div#content.version-3 div.project-rewards-content { margin: 0% 1%; width: 98%; }
	div#content.version-3 div.project-rewards-content div.project-rewards-padder { width: 100%; }
	div#content.version-3 div.project-rewards-content div.project-rewards-padder > div { float: none; }
	div#content.version-3 div.project-rewards-content div.project-rewards-padder > div:first-child { width: 100%; text-align: center; }
	div#content.version-3 div.project-rewards-content div.project-rewards-padder > div:first-child img { width: 50px; }
	div#content.version-3 div.project-rewards-content div.project-rewards-padder button.init_invest_count { display: block; margin: 7px auto; }
	div#content.version-3 div.project-rewards-content table tr td { min-width: 40px; padding: 0px 3px; }
	div#content.version-3 div.project-description div.project-description-item { width: 96%; margin: 25px 2%; }
	div#content.version-3 div.project-description div.project-description-item img.project-content-icon { display: none; }
	div#content.version-3 div.project-description div.project-description-item img.grey-triangle { display: none; }
	div#content.version-3 div.project-description div.projects-desc-content { width: 100% !important; margin: 0px; left: 0px; }
	div#content.version-3 div.project-description div.projects-desc-content h2 { margin: 15px 10px; font-size: 18px; text-align: center; text-transform: none; }
	div#content.version-3 div.project-description div.projects-desc-content .projects-more { margin-top: 10px; }
	div#content.version-3 div.project-description div.projects-desc-content p, div#content.version-3 div.project-description div.projects-desc-content h4 { padding: 0px 10px 10px; }
	div#content.version-3 div.project-comments li { margin: 0px 0px 10px 5px; }
	div#content.version-3 div.project-comments div.comment-respond { width: 96%; }
	div#content.version-3 div.project-comments div.comment-respond textarea { width: 98%; }
	div#content.version-3 div.project-responsive-buttons { display: block; position: fixed; bottom: 0px; width: 100%; }
	div#content.version-3 div.project-responsive-buttons a { display: inline-block; background: #FFFFFF; }
	div#content.version-3 div.project-responsive-buttons a.button-action { float: left; }
	div#content.version-3 div.project-responsive-buttons a.button-share { float: right; }
	div#content.version-3 div.project-responsive-buttons a img { width: 80px; }
	div#content.version-3 div.project-responsive-buttons div#triggered-menu-shareresponsive.triggered { position: fixed; display: block; bottom: 50px; right: 0px; padding: 5px; background: #FFFFFF; }
	div#content.version-3 div.project-responsive-buttons div#triggered-menu-shareresponsive.triggered a img { width: 50px; }
}