/*******************************************************************************
* SLIDER - HOME
*******************************************************************************/
.wdg-component-slider .slider-container { 
    width: 100%;
    height: 601px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.wdg-component-slider .slider-container #slider .slider-item {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    display: inline-block;
    overflow: hidden;
}
.wdg-component-slider .slider-container #slider .slider-item .message-banner {
    position: absolute;
    z-index: 2;
    top: 148px;
    left: 0px;
	width: -webkit-calc(100% - 282px);
	width: -moz-calc(100% - 282px);
	width: calc(100% - 282px);
	height: 280px;
    background: rgba(0, 86, 99, 0.7);
}
.wdg-component-slider .slider-container #slider .slider-item .message-banner::after{ 
    border-top: 280px solid rgba(0, 86, 99, 0.7);
    border-right: 274px solid transparent;
    content: "";
    position: absolute;
    top: 0px;
    width: 0%;
    left: 100%;
}

.wdg-component-slider .slider-container #slider .slider-item .slider-motif-left-haut {
    position: absolute;
    z-index: 3;
    left: 0%;
    top: 0%;
}
.wdg-component-slider .slider-container #slider .slider-item .message-banner .slider-motif-left-bas {
    position: absolute;
    z-index: 3;
    left: 0%;
    top: 100%;
    width: 60px;
}
.wdg-component-slider .slider-container #slider .slider-item .slider-motif-right {
    position: absolute;
    z-index: 2;
    right: 0px;
    bottom: -4px;
}


.wdg-component-slider .slider-container #slider .slider-item img.slide {
	width: 100%;
}

/*message pour bannière sur screen*/
.wdg-component-slider .slider-container #slider .slider-item .message-banner .screen-message, .wdg-component-slider .slider-container #slider .slide-1button .message-banner .screen-message{
	margin: 42px 0px;
    padding-left: 30%;
    position: relative;
    line-height: 100%;
    font-size: 50px;
    font-weight: bold;
    font-family: wedogood;
    text-align: left;
    color: #FFFFFF;
}
.wdg-component-slider .slider-container #slider .slider-item .message-banner .mobile-message {
    display: none;
}

.wdg-component-slider #button-container, .wdg-component-slider .slider-container #slider .slide-1button #button-container{
    position: absolute;
    z-index: 2;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    width: 80%;
    height: 55px;
    top: 450px; 
    left: 10%;
}
.wdg-component-slider #button-container .button-slide, .wdg-component-slider .slider-container #slider .slide-1button #button-container .button-slide{
    width: 32%; 
    margin: 0% 1.5%;
    text-align: center;
    font-size: 11pt;
	line-height: 55px;
    letter-spacing: 0.063em;
    text-transform: uppercase;
    background-color: #EA4F51;
    color: #FFFFFF;
}


.wdg-component-slider .slider-container .slider-choice {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around; 
    justify-content: space-around; 
    -webkit-align-items: center;
    align-items: center;
    width: 100px;
    height: 10%;
    position: absolute;
    z-index: 2;
    left: 46.5%;
    top: 86%;
}
.wdg-component-slider .slider-container .slider-choice .num-slide{
    width: 15px;
    height: 15px;
    background-color: #fff;
    cursor: pointer;
}
.wdg-component-slider .slider-container .slider-choice .num-slide {
    color: rgba(0, 0, 0, 0);
}
.wdg-component-slider .slider-container .slider-choice .active-slide{
    background-color: #00879B;
}
.wdg-component-slider .slider-container .slider-choice .inactive-slide{
    background-color: #fff;
}

/* RESPONSIVE - Cas spécifique affichage slider home */
@media screen and (max-width: 1220px) {
	.wdg-component-slider .slider-container #slider .slider-item .message-banner .screen-message {
		padding-left: 20%;
	}
}
@media screen and (max-width: 1100px) {
	.wdg-component-slider .slider-container #slider .slider-item .message-banner .screen-message {
		padding-left: 15%;
		font-size: 46px;
		margin: 48px 0px;
	}
}
@media screen and (max-width: 997px) {
	.wdg-component-slider .slider-container .slider-choice,
	.wdg-component-slider .slider-container #slider .slider-item .message-banner .slider-motif-left-bas,
	.wdg-component-slider .slider-container #slider .slider-item .slider-motif-right,
	.wdg-component-slider .slider-container #slider .slider-item .message-banner::after { display: none; }
	.wdg-component-slider .slider-container #slider .slider-item .message-banner {
		width: 100%;
		display: -webkit-flex;
		display: flex;
		-webkit-align-items: center;
		align-items: center;
	}
	.wdg-component-slider .slider-container #slider .slider-item img.slide {
		width: auto;
	}
	.wdg-component-slider .slider-container #slider .slider-item .message-banner .screen-message {
		margin: 0px;
	}
	.wdg-component-slider #button-container {
		-webkit-flex-direction: column;
		flex-direction: column;
		-webkit-align-items: center;
		align-items: center;
		-webkit-justify-content: space-between;
		justify-content: space-between;
	}
	.wdg-component-slider #button-container .button-slide {
		-webkit-flex-flow: column wrap;
		flex-flow: column wrap;
		margin-bottom: 10px;
		width: 50%;
		min-width: 250px;
	}
}
@media screen and (max-width: 620px) {
	.wdg-component-slider .slider-container #slider .slider-item .message-banner {
		top: 100px;
	}
	.wdg-component-slider .slider-container #slider .slider-item .slider-motif-left-haut {
		display: none;
	}
	.wdg-component-slider .slider-container #slider .slider-item .message-banner .screen-message {
		font-size: 40px;
		padding-left: 10%;
	}
	.wdg-component-slider #button-container {
		top: 415px;
	}
}




/*******************************************************************************
* PROJECTS - HOME
*******************************************************************************/
.wdg-component-projects-preview {
	text-align: center;
}

.wdg-component-projects-preview .project-slider {
	width: 100%;
	overflow-x: auto;
}
.wdg-component-projects-preview .block-projects {
    z-index: 0;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	height: 620px;
}
@media screen and (min-width: 1200px) {
	.wdg-component-projects-preview .block-projects {
		margin: auto;
	}
}

.wdg-component-projects-preview .project-container{ 
    position: relative;
    display: -webkit-flex;
    display: flex;
	width: 33%;
    min-width: 320px;
    max-width: 400px;
	height: 620px;
    -webkit-justify-content: center;
    justify-content: center;
    font-family: Trebuchet MS, sans-serif;
}
.wdg-component-projects-preview .project-container .project-framed{ 
    width: 90%;
    height: 90%;
    background-color: rgba(51, 51, 51, 0.05);
    position: relative;
    top: 25px;
	margin: 0% 5%;
}

.wdg-component-projects-preview .project-container .project-framed::before { 
    border-top: 60px solid #FFFFFF; 
    border-right: 60px solid transparent;   
    content: ""; 
    height: 0; 
    left: 0; 
    position: absolute; 
    top: 0px; 
    width: 0; 
}

.wdg-component-projects-preview .project-container .project-framed .project-title{
    width: 100%;
    text-align: center;
    position: absolute;
    top: 20px;
    text-transform: uppercase;
    font-size: 15pt;
    font-weight: bold;
	margin: 15px 0px;
}

.wdg-component-projects-preview .project-container .project-framed .project-img{
    position: absolute;
    width: 100%;
    height: 180px;
    background-size: 100%;
    top: 75px;
}

.wdg-component-projects-preview .project-container .project-framed .project-summary{
    position: absolute;
    top: 255px;
    max-width: 100%;
	height: 85px;
	overflow: hidden;
	margin: 0px;
    padding: 0px 4%;
    font-size: 11pt;
    text-align: left;
}

.wdg-component-projects-preview .project-container .project-framed .progress-info{
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    position: absolute;
    -webkit-justify-content: center;
    justify-content: center;
    top: 405px;
    width: 100%;
    margin-top: 15px;
    letter-spacing: 0.125em;
}
.wdg-component-projects-preview .project-container .project-framed .progress-info .progress-pers{
    border-right: 2px solid black;
}
.wdg-component-projects-preview .project-container .project-framed .progress-info .progress-pers,
.wdg-component-projects-preview .project-container .project-framed .progress-info .progress-days,
.wdg-component-projects-preview .project-container .project-framed .progress-info .progress-status{
    width: 50%;
}

.wdg-component-projects-preview .project-container .project-framed .progress-info .info-nb{
    text-transform: uppercase;
    text-align: center;
    font-size: 13pt;
    font-weight: bold;
    margin: 0;
}
.wdg-component-projects-preview .project-container .project-framed .progress-info .info-action{
    text-transform: uppercase;
    text-align: center;
    font-size: 9pt;
    margin: 0;
}

.wdg-component-projects-preview .home-button-project{
    display: inline-block;
    text-align: center;
    font-size: 0.938em;
    letter-spacing: 0.063em;
    text-transform: uppercase;   
    padding: 30px 0%;
    bottom: 0%;
}
.wdg-component-projects-preview .project-container .project-framed .project-button{
	position: absolute;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    width: 100%;
    background-color: #00879B;
    color: #FFFFFF;
}
.wdg-component-projects-preview .project-container .project-framed .see-project{
    background-color: #D3EAE9;
    color: #333333;
}
.wdg-component-projects-preview .see-more {
	position: relative;
    width: 30%;
    padding: 20px 0px;
    background-color: #EA4F51;
    color: #FFFFFF;
}
@media screen and (max-width: 997px) {
	.wdg-component-projects-preview .see-more {
		width: 288px;
	}
	.wdg-component-projects-preview .project-container {
		width: 320px;
	}
}


/*******************************************************************************
* IMPACTS
*******************************************************************************/
.impacts-container{
    position: absolute;
    display: -webkit-flex;
    display: flex;
    z-index: 2;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
	width: 90%;
	height: 50px;
	margin: 0% 5%;
}
.impacts-container .impact-logo{
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    width: 42px;
    height: 42px;
    border-radius: 100%;
    background-color: #0F8216;  
    color: #FFFFFF;
    transition: all .2s linear;
    cursor: pointer;
	margin: 0px 5px;
}
/* Dégradés de couleurs pour les impacts */
.impacts-container .impact-ecologic{
    background: linear-gradient(45deg, #8BC79C, #00879B);
}
.impacts-container .impact-social{
    background: linear-gradient(45deg, #E2C80D, #EA4F51);
}
.impacts-container .impact-economic{
    background: linear-gradient(45deg, #00879B, #005663);
}

.impacts-container .impact-logo:hover{  /* à revoir : empecher le déplacement des impacts au survol ***********/
    transform: scale(1.15);
    border: 0.25em #FFFFFF solid;
}


/*******************************************************************************
* PROGRESS BAR
*******************************************************************************/
.progress-bar {
    min-width: 100%;
    position: absolute;
    top: 355px;
    height: 50px;
    background-color: #E1E3E2;
}
.progress-bar .current-amount {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    position: absolute;
    height: 100%;
    font-size: 15pt;
    letter-spacing: 0.12em;
    color: #FFFFFF;
    background: repeating-linear-gradient(
    -45deg,
    #00879B,
    #00879B 7px,
    #D3EAE9 0.5px,
    #00879B 7.5px);
}
.progress-bar .progress-percent { 
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    position: absolute;
    height: 100%;
    right: 3%;
    font-size: 15pt;
    letter-spacing: 0.12em;
    font-weight: bold;
    text-align: right;
}
.progress-bar .vote-status { 
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    height: 100%; 
    text-transform: uppercase;
    font-style: italic;
    background: repeating-linear-gradient(
        -45deg,
        #E1E3E2,
        #E1E3E2 7px,
        #F5F5F5 1px,
        #E1E3E2 8px);
}


/*******************************************************************************
* LIGHTBOX CONNECTION
*******************************************************************************/
#wdg-lightbox-register #connexion_facebook_container a.social_connect_login_facebook, #wdg-lightbox-connexion #connexion_facebook_container a.social_connect_login_facebook {
	padding: 4px 5px 5px;
    background-color: #526794;
    border: 1px solid #526794;
	color: #FFFFFF;
}