/*******************************************************************************
* SLIDER - HOME
*******************************************************************************/
.wdg-component-slider .slider-container { 
    width: 100%;
    height: 601px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.wdg-component-slider .slider-container #slider .slider-item {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    display: inline-block;
    overflow: hidden;
}
.wdg-component-slider .slider-container #slider .slider-item .message-banner {
    position: absolute;
    z-index: 2;
    top: 148px;
    left: 0px;
	width: -webkit-calc(100% - 282px);
	width: -moz-calc(100% - 282px);
	width: calc(100% - 282px);
	height: 280px;
    background: rgba(0, 86, 99, 0.7);
}
.wdg-component-slider .slider-container #slider .slider-item .message-banner::after{ 
    border-top: 280px solid rgba(0, 86, 99, 0.7);
    border-right: 274px solid transparent;
    content: "";
    position: absolute;
    top: 0px;
    width: 0%;
    left: 100%;
}

.wdg-component-slider .slider-container #slider .slider-item .slider-motif-left-haut {
    position: absolute;
    z-index: 3;
    left: 0%;
    top: 0%;
}
.wdg-component-slider .slider-container #slider .slider-item .message-banner .slider-motif-left-bas {
    position: absolute;
    z-index: 3;
    left: 0%;
    top: 100%;
    width: 60px;
}
.wdg-component-slider .slider-container #slider .slider-item .slider-motif-right {
    position: absolute;
    z-index: 2;
    right: 0px;
    bottom: -4px;
}

/*message pour bannière sur screen*/
.wdg-component-slider .slider-container #slider .slider-item .message-banner .screen-message, .wdg-component-slider .slider-container #slider .slide-1button .message-banner .screen-message{
	margin: 42px 0px;
    padding-left: 30%;
    position: relative;
    line-height: 100%;
    font-size: 50px;
    font-family: wedogood;
    text-align: left;
    color: #FFFFFF;
}
.wdg-component-slider .slider-container #slider .slider-item .message-banner .mobile-message {
    display: none;
}

.wdg-component-slider #button-container, .wdg-component-slider .slider-container #slider .slide-1button #button-container{
    position: absolute;
    z-index: 2;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    width: 80%;
    height: 55px;
    top: 450px; 
    left: 10%;
}
.wdg-component-slider #button-container .button-slide, .wdg-component-slider .slider-container #slider .slide-1button #button-container .button-slide{
    width: 32%;
    margin: 0% 1.5%;
    text-align: center;
    font-size: 11pt;
	line-height: 55px;
    letter-spacing: 0.063em;
    text-transform: uppercase;
    background-color: #EA4F51;
    color: #FFFFFF;
}


.wdg-component-slider .slider-container .slider-choice {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around; 
    justify-content: space-around; 
    -webkit-align-items: center;
    align-items: center;
    width: 100px;
    height: 10%;
    position: absolute;
    z-index: 2;
    left: 46.5%;
    top: 86%;
}
.wdg-component-slider .slider-container .slider-choice .num-slide{
    width: 15px;
    height: 15px;
    background-color: #fff;
    cursor: pointer;
}
.wdg-component-slider .slider-container .slider-choice .num-slide {
    color: rgba(0, 0, 0, 0);
}
.wdg-component-slider .slider-container .slider-choice .active-slide{
    background-color: #00879B;
}
.wdg-component-slider .slider-container .slider-choice .inactive-slide{
    background-color: #fff;
}

/* RESPONSIVE - Cas spécifique affichage slider home */
@media screen and (max-width: 1220px) {
	.wdg-component-slider .slider-container #slider .slider-item .message-banner .screen-message {
		padding-left: 20%;
	}
}
@media screen and (max-width: 1100px) {
	.wdg-component-slider .slider-container #slider .slider-item .message-banner .screen-message {
		padding-left: 15%;
		font-size: 46px;
		margin: 48px 0px;
	}
}
@media screen and (max-width: 997px) {
	.wdg-component-slider .slider-container .slider-choice,
	.wdg-component-slider .slider-container #slider .slider-item .message-banner .slider-motif-left-bas,
	.wdg-component-slider .slider-container #slider .slider-item .slider-motif-right,
	.wdg-component-slider .slider-container #slider .slider-item .message-banner::after { display: none; }
	.wdg-component-slider .slider-container #slider .slider-item .message-banner {
		width: 100%;
		display: -webkit-flex;
		display: flex;
		-webkit-align-items: center;
		align-items: center;
	}
	.wdg-component-slider .slider-container #slider .slider-item img.slide {
		width: auto;
	}
	.wdg-component-slider .slider-container #slider .slider-item .message-banner .screen-message {
		margin: 0px;
	}
	.wdg-component-slider #button-container {
		-webkit-flex-direction: column;
		flex-direction: column;
		-webkit-align-items: center;
		align-items: center;
		-webkit-justify-content: space-between;
		justify-content: space-between;
	}
	.wdg-component-slider #button-container .button-slide {
		-webkit-flex-flow: column wrap;
		flex-flow: column wrap;
		margin-bottom: 10px;
		width: 50%;
		min-width: 250px;
	}
}
@media screen and (max-width: 620px) {
	.wdg-component-slider .slider-container #slider .slider-item .message-banner {
		top: 100px;
	}
	.wdg-component-slider .slider-container #slider .slider-item .slider-motif-left-haut {
		display: none;
	}
	.wdg-component-slider .slider-container #slider .slider-item .message-banner .screen-message {
		font-size: 40px;
		padding-left: 10%;
	}
	.wdg-component-slider #button-container {
		top: 415px;
	}
}




/*******************************************************************************
* PROJECTS - HOME
*******************************************************************************/
.wdg-component-projects-preview {
	text-align: center;
}

.wdg-component-projects-preview .project-slider {
	width: 100%;
        overflow: -moz-scrollbars-horizontal;/* Firefox */ 
            -ms-overflow-style: scrollbar;/* Edge */
	overflow-x: auto;
        margin-bottom: 0.8%;
}
.wdg-component-projects-preview .block-projects {
    z-index: 0;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	height: 555px;
	margin: auto;
}
@media screen and (min-width: 1200px) {
	.wdg-component-projects-preview .block-projects {
		margin: auto;
	}
}

.wdg-component-projects-preview .project-container{ 
    position: relative;
    display: -webkit-flex;
    display: flex;
	width: 29%;
    min-width: 320px;
    max-width: 400px;
	height: 500px;
    -webkit-justify-content: center;
    justify-content: center;
    font-family: Trebuchet MS, sans-serif;
}
.wdg-component-projects-preview .project-container .project-framed{ 
    width: 90%;
    height: 100%;
    background-color: rgba(51, 51, 51, 0.05);
    position: relative;
    top: 25px;
	margin: 0% 5%;
}

.wdg-component-projects-preview .project-container .project-framed::before { 
    border-top: 60px solid #FFFFFF; 
    border-right: 60px solid transparent;   
    content: ""; 
    height: 0; 
    left: 0; 
    position: absolute; 
    top: 0px; 
    width: 0; 
}

.wdg-component-projects-preview .project-container .project-framed .project-title{
    width: 80%;
    text-align: center;
    position: relative;
    top: 20px;
    text-transform: uppercase;
    font-size: 13pt;
    font-weight: bold;
	margin: 15px auto;
        margin-left: 30px;/* pour tenir compte du coin coupé du cartouche*/
}

.wdg-component-projects-preview .project-container .project-framed .project-img{
    position: absolute;
    width: 100%;
    height: 160px;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    top: 75px;
}

.wdg-component-projects-preview .project-container .project-framed .project-summary{
    position: absolute;
    top: 238px;
    max-width: 100%;
    height: 77px;
    overflow: hidden;
    margin: 4px 0px 0px 0px;
    padding: 0px 4%;
    font-size: 10pt;
    text-align: justify;
}

.wdg-component-projects-preview .project-container .project-framed .progress-info{
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    position: absolute;
    -webkit-justify-content: center;
    justify-content: center;
    top: 375px;
    width: 100%;
    margin-top: 15px;
    letter-spacing: 0.125em;
}
.wdg-component-projects-preview .project-container .project-framed .progress-info .progress-pers{
    border-right: 2px solid #333;
}
.wdg-component-projects-preview .project-container .project-framed .progress-info .progress-pers,
.wdg-component-projects-preview .project-container .project-framed .progress-info .progress-days,
.wdg-component-projects-preview .project-container .project-framed .progress-info .progress-status{
    width: 50%;
}

.wdg-component-projects-preview .project-container .project-framed .progress-info .info-nb{
	display: block;
    text-transform: uppercase;
    text-align: center;
    font-size: 12pt;
    font-weight: bold;
    margin: 0;
}
.wdg-component-projects-preview .project-container .project-framed .progress-info .info-action{
    text-transform: uppercase;
    text-align: center;
    font-size: 9pt;
    margin: 0;
}

.wdg-component-projects-preview .home-button-project{
    display: inline-block;
    text-align: center;
    font-size: 0.938em;
    letter-spacing: 0.063em;
    text-transform: uppercase;   
    padding: 20px 0%;
    bottom: 0%;
}
.wdg-component-projects-preview .project-container .project-framed .project-button{
	position: absolute;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    width: 100%;
    background-color: #00879B;
    color: #FFFFFF;
}
.wdg-component-projects-preview .project-container .project-framed .see-project{
    background-color: #D3EAE9;
    color: #333333;
}
.wdg-component-projects-preview .see-more {
    position: relative;
    width: -webkit-calc(0.26 * 100%);
    width: -moz-calc(0.26 * 100%);
    width: calc(0.26 * 100%);
    padding: 20px 0px;
    background-color: #EA4F51;
    color: #FFFFFF;
}
@media screen and (max-width: 997px) {
	.wdg-component-projects-preview .project-container {
		width: 320px;
	}
}
@media screen and (max-width: 1100px) {
    .wdg-component-projects-preview .see-more {
            width: 288px;
    }
}
@media screen and (min-width: 1400px) {
    .wdg-component-projects-preview .see-more {
            width: 360px;
    }
}
/* Ajustements spécifiques cartouche projet */
body.template-les-projets .wdg-component-projects-preview .project-container .project-framed {
    height: 81%;
}

/*******************************************************************************
* IMPACTS
*******************************************************************************/
.impacts-container{
    position: absolute;
    display: -webkit-flex;
    display: flex;
    z-index: 2;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
	width: 90%;
	height: 50px;
	margin: 0% 5%;
}
.impacts-container .impact-logo{
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    width: 42px;
    height: 42px;
    border-radius: 100%;
    border: solid 4px transparent; 
    color: #FFFFFF;
    cursor: pointer;
    margin: 0px 1px;
}
.wdg-component-projects-preview .impacts-container .impact-logo {
	transition: all .2s linear;
}
/* Dégradés de couleurs pour les impacts */
.impacts-container .impact-ecologic{
    background: linear-gradient(45deg, #8BC79C, #00879B);
}
.impacts-container .impact-social{
    background: linear-gradient(45deg, #E2C80D, #EA4F51);
}
.impacts-container .impact-economic{
    background: linear-gradient(45deg, #00879B, #005663);
}

.wdg-component-projects-preview .impacts-container .impact-logo:hover {
    transform: scale(1.15);
    border-color: #fff;
}
.impacts-container .impact-logo {
	position: relative;
}
.impacts-container .info-bulle.invisible{
	display: none;
}
.impacts-container .info-bulle.visible {
	display: inline;
	position: absolute;
	z-index: 500;
	top: 30px;
	background-color: #FFFFFF;
	border: 1px solid #333333;
	padding: 1px 4px;
	white-space: nowrap;
	font-size: 9pt;
}

div#content.version-3 div.project-banner div.project-banner-content div.banner-half.right div.project-banner-info-actions div.impacts-container .impact-logo {
	border: none;
}


/*******************************************************************************
* PROGRESS BAR
*******************************************************************************/
.progress-bar {
    min-width: 100%;
    position: absolute;
    top: 335px;
    height: 40px;
    background-color: #E1E3E2;
}
.progress-bar .current-amount {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    position: absolute;
    height: 100%;
    font-size: 13pt;
    letter-spacing: 0.12em;
    color: #FFFFFF;
    background: repeating-linear-gradient(
    -45deg,
    #00879B,
    #00879B 5px,
    #E1E3E2 5px,
    #00879B 6.3px);
}
.progress-bar .progress-percent { 
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    position: absolute;
    height: 100%;
    right: 3%;
    font-size: 13pt;
    letter-spacing: 0.12em;
    font-weight: bold;
    text-align: right;
}
.progress-bar .vote-status { 
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    height: 100%; 
    text-transform: uppercase;
    font-style: italic;
    background: repeating-linear-gradient(
        -45deg,
        #E1E3E2,
        #E1E3E2 7px,
        #F5F5F5 1px,
        #E1E3E2 8px);
}


/*******************************************************************************
* LIGHTBOX
*******************************************************************************/
.wdg-lightbox {
	background-color: rgba(0, 0, 0, 0.75);
	top: 0px;
	left: 0px;
	position: fixed;
	z-index: 4000;
	width: 100%;
	height: 100%;
}

.wdg-lightbox-click-catcher {
	top: 0px;
	left: 0px;
	position: fixed;
	z-index: 4001;
	width: 100%;
	height: 100%;
}

.wdg-lightbox .wdg-lightbox-corner {
	position: relative;
	max-width: 600px;
    height: 0px;
    border-bottom: 60px solid #F2F2F2;
    border-left: 60px solid transparent;
	margin: 5vh auto 0px;
    padding-right: 60px;
	z-index: 4002;
}

.wdg-lightbox .wdg-lightbox-padder {
	position: relative;
	max-width: 600px;
	max-height: 80vh;
	margin: 5vh auto;
	padding: 50px;
	background-color: #F2F2F2;
	overflow-y: auto;
	z-index: 4002;
}
.wdg-lightbox.cornered .wdg-lightbox-padder {
	margin-top: 0px;
	padding: 10px 60px 60px;
}

.wdg-lightbox .wdg-widelightbox-padder {
	position: relative;
	max-width: 90%;
	max-height: 80vh;
	margin: 5vh auto;
	padding: 20px;
	background-color: #F2F2F2;
	overflow-y: auto;
	z-index: 4002;
}
.wdg-lightbox .wdg-lightbox-padder div.wdg-lightbox-msg-info {
	text-align: center;
}
.wdg-lightbox .wdg-lightbox-padder > div {
	background-color: #F2F2F2 !important;
}


.wdg-lightbox .wdg-lightbox-corner h2 {
	line-height: 60px;
	text-transform: uppercase;
	text-align: center;
	color: #00879b;
}
.wdg-lightbox .wdg-lightbox-padder h3 {
	text-transform: uppercase;
	text-align: center;
}
.wdg-lightbox .wdg-lightbox-padder h3, .wdg-lightbox .wdg-lightbox-padder h4 {
	margin: 0px;
	padding: 8px 0px 24px;
	font-weight: bold;
}

.wdg-lightbox .wdg-lightbox-button-close {
	position: absolute;
	right: 0px;
	margin-top: -45px;
}
#wdg-lightbox-editOrga .wdg-lightbox-padder .wdg-lightbox-button-close {
	margin-top: -10px;
}
.wdg-lightbox .wdg-lightbox-corner .wdg-lightbox-button-close {
	margin-top: 0px;
}
.wdg-lightbox .wdg-lightbox-button-close a {
	padding: 5px 20px;
	background: none;
	border: none;
	font-size: 28pt;
	color: #333333;
	text-transform: lowercase;
}

#validate-terms .validate-terms-excerpt {
    margin: 20px 0px;
    max-height: 250px;
    overflow-y: auto;
    border: 1px solid #EEECED;
    padding: 5px;
}

#validate-terms input {
    text-align: center;
    margin: 10px 0px;
}

#validate-terms > div > span {
    text-transform: uppercase;
    font-weight: bold;
}

#already-connected {
	text-align: center;
}

.wdg-lightbox .warning {
    text-align: justify;
    margin: 10px 0px;
}
.wdg-lightbox .register-section {
    margin: 15px 0px;
    text-align: center;
}
.wdg-lightbox div.submit {
    margin: 10px auto;
    text-align: center;
}

.wdg-lightbox.timeout-lightbox {
	background-color: transparent;
	margin-top: 88px;
}
.wdg-lightbox.timeout-lightbox .wdg-lightbox-padder {
	background-color: #333333;
	color: #FFFFFF;
}

.wdg-lightbox .wdg-lightbox-padder > div.admin-block {
	background-color: #EA4F51 !important;
	border: 1px dotted #000;
	padding: 10px;
	margin-bottom: 5px;
}
.wdg-lightbox .wdg-lightbox-padder > div.admin-block h3 { margin: 5px auto; }
.wdg-lightbox .wdg-lightbox-padder > div.admin-block label { display: inline-block; width: 140px; }

.wdg-lightbox ul.errors {
	list-style: none;
	padding-left: 10px;
	margin: 20px 0px;
}
@media screen and (max-width: 997px) {
	.wdg-lightbox .wdg-lightbox-padder {
		padding: 10px;
	}
}

#orgacreate_form input[name=org_capable] {
	margin: 30px 5px 0;
}

/*******************************************************************************
* LIGHTBOX CONNECTION
*******************************************************************************/
#wdg-lightbox-connexion .warning {
	text-align: center;
}
.connexion_facebook_container {
	margin-top: 0;
	margin-bottom: 15px;
}
.connexion_facebook_container a.social_connect_login_facebook {
	padding: 4px 5px 5px;
	font-size: 12pt;
	text-transform: uppercase;
	color: #FFFFFF;
}
.box_connection_buttons.red a {
	font-size: 12pt;
	color: #FFF;
}
#wdg-lightbox-newproject #connect-form.specific-hidden {
	display: none;
}

/*******************************************************************************
* LIGHTBOX - COURTS MESSAGES
*******************************************************************************/
.wdg-lightbox.msg-lightbox {
	position: absolute;
	text-align: center;
	font-size: 12pt;
}
.wdg-lightbox.msg-lightbox .wdg-lightbox-padder {
	top: 200px;
}
.wdg-lightbox.msg-lightbox .wdg-lightbox-padder.valid-msg {
	background-color: #8BC79C;
	color: #FFFFFF;
}
.wdg-lightbox.msg-lightbox .wdg-lightbox-padder.error-msg {
	background-color: #EACDCB;
	color: #333333;
}
.wdg-lightbox.msg-lightbox .wdg-lightbox-padder .wdg-lightbox-button-close {
	background-color: transparent !important;
}
.wdg-lightbox.msg-lightbox .wdg-lightbox-padder .wdg-lightbox-button-close a {
	font-size: 18pt;
}
.wdg-lightbox.msg-lightbox .wdg-lightbox-padder.valid-msg .wdg-lightbox-button-close a {
	color: #FFFFFF;
}
.wdg-lightbox.msg-lightbox .wdg-lightbox-padder.error-msg .wdg-lightbox-button-close a {
	color: #333333;
}

/*******************************************************************************
* FORMULAIRES V3
*******************************************************************************/
.db-form.v3 {
	text-align: center;
}

.db-form.v3 .field {
    display: block;
    margin: 0px;
    padding: 0px 0px 24px;
}

.db-form.v3 .field label {
	display: inline-block;
	width: 274px;
	margin: 0px;
	padding-bottom: 8px;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
}
.db-form.v3 .field label.radio-label {
	font-weight: normal;
	line-height: 28px;
}
.db-form.v3.full .field label {
	display: block;
	width: 100%;
}

.db-form.v3 .field span.complement{
	display: block;
	width: 270px;
	margin: 0px auto 3px;
	font-size: 10pt;
	text-align: left;
}
.db-form.v3 .field-container {
	display: block;
}
.db-form.v3 .field-container.field-type-check {
	display: inline-block;
}
.db-form.v3 .field-container input[type=text], .db-form.v3 .field-container input[type=password] {
	width: 260px;
	height: 30px;
	border: none;
}
.db-form.v3.full .field-container input[type=text], .db-form.v3.full .field-container input[type=password] {
	width: 100%;
	height: 50px;
	margin: 0px;
	padding: 3px 0px;
}
.db-form.v3 .field-container select {
	width: 275px;
	height: 34px;
	border: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	overflow: hidden;
	background: url("../../images/common/arrow-filter.png") no-repeat right #FFF;
	background-size: 34px;
}
.db-form.v3 .field-container select option {
	padding: 7px;
	border-bottom: 1px solid #E1E3E2;
}
.db-form.v3 .field-container textarea {
	width: 240px;
	font-family: Trebuchet MS, sans-serif;
}
.db-form.v3.full .field-container textarea {
	width: 100%;
	height: 150px;
	font-family: Trebuchet MS, sans-serif;
}
.db-form.v3 button {
	width: 100%;
	height: 50px;
}
.db-form.v3 button.half {
	width: 45%;
}

.db-form.v3 input[type=checkbox],
.db-form.v3 input[type=checkbox].rate,
.db-form.v3 input[type=radio] {
	width: 0px;
	height: 0px;
	position: relative;
	margin-right: 24px;
	vertical-align: top;
}
.db-form.v3 input[type=checkbox]:after {
	content: '';
	width: 20px;
	height: 20px;
	position: absolute;
	background: #FFFFFF;
	cursor: pointer;
}
.db-form.v3 input[type=checkbox]:checked:after {
	width: 12px;
	height: 12px;
	background: #333;
	border: 4px solid #FFF;
}
.db-form.v3 input[type=checkbox].rate:after,
.db-form.v3 input[type=radio]:after {
	content: '';
	width: 24px;
	height: 24px;
	position: absolute;
	background: #FFFFFF;
	border-radius: 12px;
	cursor: pointer;
}
.db-form.v3 input[type=radio]:after {
	width: 20px;
	height: 20px;
}
.db-form.v3 input[type=radio]:checked:after {
	width: 12px;
	height: 12px;
	background: #333;
	border: 4px solid #FFF;
}
.db-form.v3 input[type=checkbox].rate:checked:after {
	width: 16px;
	height: 16px;
	background: #333;
	border: 4px solid #FFF;
}
.db-form.v3 input[type=checkbox].rate-ecology:checked:after  {
	width: 24px;
	height: 24px;
	border: 0px;
	background: url(../../images/common/impact-env-small.png);
	background-size: 100%;
}
.db-form.v3 input[type=checkbox].rate-economy:checked:after  {
	width: 24px;
	height: 24px;
	border: 0px;
	background: url(../../images/common/impact-eco-small.png);
	background-size: 100%;
}
.db-form.v3 input[type=checkbox].rate-social:checked:after  {
	width: 24px;
	height: 24px;
	border: 0px;
	background: url(../../images/common/impact-social-small.png);
	background-size: 100%;
}

/* Classes à ajouter dans le back-office WordPress */
.wp-form-title {
	text-align: center;
	margin: 0px;
	padding-bottom: 10px;
	text-transform: uppercase;
	color: #00879B;
	font-size: 16pt;
	font-weight: normal;
}
.wp-form-text {
	width: 240px;
	height: 34px;
	padding: 0px 10px;
	border: none;
	font-family: Trebuchet MS, sans-serif;
	font-size: 12pt;
}
.wp-form-textarea {
	width: 250px;
	padding: 5px;
	border: none;
	font-family: Trebuchet MS, sans-serif;
	font-size: 11pt;
}
.wp-form-submit {
	width: 255px;
	padding: 15px;
	margin: 15px auto;
	border: none;
	background-color: #EA4F51;
	font-size: 11pt;
}

/* CSS pour éléments WordPress non paramétrables dans le back-office */
#wdg-lightbox-contactprojet span.wpcf7-list-item {
	display: block;
	margin-left: 0;
}
#wdg-lightbox-contactprojet .wpcf7-form {
	width: 95%;
	margin: auto;
}
#wdg-lightbox-contactprojet .wpcf7-form p {
	margin: 20px auto;
}