/*******************************************************************************
* DASHBOARD PAGE
*
* Commons
*******************************************************************************/

#ndashboard{
    display: table;
    width: 100%;
    font-size: 14px;
}

#ndashboard .infobutton{
    cursor: help;
    color: grey;
    display: inline-block;
    margin-left: 5px;
    vertical-align: baseline;
    font-size: 18px;
}


#ndashboard .infobutton:hover{
    color:#2B2C2C;
}

#ndashboard .page-dashboard .head {
    font-family: 'BebasNeue';
    font-size: 35px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 15px;
}

#ndashboard .google-doc iframe {
    width: 100%;
    height: 800px;
}

/*******************************************************************************
* NAVIGATION BAR
*******************************************************************************/
#ndashboard-navbar{
    display: table-cell;
    vertical-align: top;
    min-width: 220px;
    width: 220px;
    background-color: #EEECED;
}

#ndashboard-navbar .badge-notif{
    display: inline-block;
    padding: 3px 7px;
    margin-left: 5px;
    min-width: 10px;
    line-height: 1;
    font-size: 12px;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #EA4F51;
    border-radius: 10px;
    font-weight: bold;
}

#ndashboard-navbar .badge-notif:empty{
    display:none;
}

#ndashboard-navbar a.active .badge-notif{
    color: #EA4F51;
    background-color: #fff;
}

#ndashboard-navbar a:not(.disabled):not(.active):hover .badge-notif{
    color: grey;
    background-color: #fff;
}

#ndashboard-navbar .nav-padding {
    text-align: center;
    padding: 30px 0px 50px;
}

#ndashboard-navbar .authorization{
    padding: 15px 0px;
    background-color: mediumturquoise;
    font-style: italic;
    color: white;
}

#ndashboard-navbar .title {
    font-family: 'BebasNeue';
    font-size: 34px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

#ndashboard-navbar ul{
    text-align: left;
    list-style: none;
    padding: 0px;
    margin: 0px;
}

#ndashboard-navbar li a{
    padding: 10px 0px 0px 20px;
    color: #2B2C2C;
    display:block;
    min-height: 28px;
    outline: 0;
}

#ndashboard-navbar li a:not(.disabled):not(.active):hover{
    background-color:grey;
    color:white;
}

#ndashboard-navbar li a:hover{
    cursor:pointer;
}

#ndashboard-navbar li a.active{
    background-color:#EA4F51;
    color:white;
}

#ndashboard-navbar li a.disabled{
    color: #b6b6b6;
}


#ndashboard-content{
    display: table-cell;
    vertical-align: top;
}

#ndashboard-content .content-padding {
    padding: 20px;
}

#ndashboard-content .page-dashboard {
    display:none;
}

#ndashboard-content .tab-content {
    display: block;
    max-width: 800px;
    margin: 0px auto 10px auto;
    background-color: #F2F2F2;
    padding: 20px 30px;
    border-bottom: 1px solid grey;
}

/*******************************************************************************
* Formulaires
*******************************************************************************/
#ndashboard .tab-content .field {
    display: block;
    margin: 10px 0px;
    padding: 5px;
}

#ndashboard .tab-content .field.admin-theme {
    border-left: 3px solid mediumturquoise;
    background-color: lightgray;
}

#ndashboard .tab-content .field.admin-theme label i.fa {
    color:mediumturquoise;
}

#ndashboard .tab-content label {
    display: inline-block;
    width: 220px;
    margin: 3px 10px 3px 0px;
    font-weight: bold;
}

#ndashboard .tab-content .field-container input{
    display: inline-block;
    width: 200px;
}
#ndashboard .tab-content .field-container select{
    display: inline-block;
    width: 220px;
}

#ndashboard .tab-content .field-container select.timepicker {
    padding: 3px 2px;
    width: 52px;
    margin-left: 3px;
}

#ndashboard .tab-content  input:not([type='submit']),
#ndashboard .tab-content  select{
    margin: 3px 0px;
    background: none repeat scroll 0 0 #FFF;
    border: medium none;
    padding: 3px 8px;
}

#ndashboard .tab-content .field-container input.left-icon{
    padding-left: 24px;
    width: 188px;
}


#ndashboard .tab-content .field-container input.right-icon{
    padding-right: 24px;
    width: 188px;
}

#ndashboard .tab-content .field-container input.left-icon.datetime,
#ndashboard .tab-content .field-container input.right-icon.datetime{
    width: 78px;
}


#ndashboard .tab-content .field-container {
    white-space: nowrap;
    vertical-align: middle;
}

#ndashboard .tab-content .field-container .field-value {
    position: relative;
}

#ndashboard .tab-content .field-container i.fa.left{
    position: absolute;
    top: 1px;
    left: 5px;
    width: 14px;
    text-align: center;
}
#ndashboard .tab-content .field-container i.fa.right{
    position: absolute;
    top: 1px;
    right: 5px;
    width: 14px;
    text-align: center;
}


/*******************************************************************************
* Page resume
*******************************************************************************/
#page-resume #block-summary .current-step {
    text-align:center;
    margin: 10px 0px;
}
#page-resume #block-summary .current-step span {
    opacity:0.5;
    margin: 0px 24px;
    display: inline-block;
    min-width: 100px;
}
#page-resume #block-summary #current {
    opacity: 1;
    color: #EA4F51;
    font-weight: bold;
    position:relative
}

/*******************************************************************************
* Page informations
*******************************************************************************/
#page-informations .bloc-grid{
    text-align: center;
}

#page-informations .display-bloc{
    width: 160px;
    display: inline-block;
    margin: 10px;
    background-color: #EEECED;
    vertical-align: top;
    cursor: pointer;
    border-bottom: 1px solid grey;
    padding-top: 10px;
    position:relative;
}

#page-informations .display-bloc:hover{
    background-color:grey;
    color:white;
}

#page-informations .display-bloc.active{
    background-color:#EA4F51;
    color:white;
}

#page-informations .display-bloc .fa{
    display: block;
}

#page-informations .display-bloc .infobloc-title{
    padding: 10px 0px;
}

#page-informations #estimated-turnover {
    list-style: none;
}

#page-informations #estimated-turnover li {
    border-bottom: 1px solid grey;
    padding-top: 6px;
}

/*******************************************************************************
* Page actualités
*******************************************************************************/
#page-news ul{
    text-align: left;
    list-style: none;
    padding-left: initial;
}

#page-news li{
    padding: 5px;
    border-bottom: 1px solid grey;
    margin-bottom: 5px;
    display: block;
}

#page-news li em{
    font-size: 12px;
}

#page-news .news-item-tools {
    float:right;
    margin-right: 20px;
}

#page-news .nb-comments-widget{
    padding: 4px;
}


/*******************************************************************************
* Page campagne
*******************************************************************************/
#page-campaign #team-list{
    padding: 0px 25px;
    list-style: none;
    text-align: left;
}

#page-campaign #team-list li{
    padding: 7px 0px;
    border-bottom: 1px solid #808080;
    margin: 5px 0px;
}