/*******************************************************************************
* DASHBOARD PAGE
*
* Commons
*******************************************************************************/

#ndashboard{
    display: table;
    width: 100%;
    font-size: 14px;
    table-layout: fixed;
}

#ndashboard .infobutton{
    cursor: help;
    color: grey;
    display: inline-block;
    margin-left: 5px;
    vertical-align: baseline;
    font-size: 18px;
}

#ndashboard .infobutton:hover{
    color:#2B2C2C;
}
#ndashboard .tooltiptext{
    display: none;
}

.wdgQtip .qtip-content{
    font-size: 13px;
    line-height: normal;
}

#ndashboard .page-dashboard .head {
    font-family: 'BebasNeue';
    font-size: 35px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 15px;
}

#ndashboard .google-doc iframe {
    width: 100%;
    height: 600px;
}

#ndashboard .admin-theme-block {
    border-left: 3px solid darkturquoise;
    background-color: lightgray;
    padding: 10px;
}

/*******************************************************************************
* NAVIGATION BAR
*******************************************************************************/
#ndashboard-navbar{
    display: table-cell;
    vertical-align: top;
    min-width: 220px;
    width: 220px;
    background-color: #EEECED;
}

.badge-notif{
    display: inline-block;
    padding: 3px 6px;
    min-width: 10px;
    line-height: 1;
    font-size: 12px;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #EA4F51;
    border-radius: 10px;
    font-weight: bold;
}

#ndashboard-navbar .badge-notif:empty{
    display:none;
}

#ndashboard-navbar a.active .badge-notif{
    color: #EA4F51;
    background-color: #fff;
}

#ndashboard-navbar a:not(.disabled):not(.active):hover .badge-notif{
    color: grey;
    background-color: #fff;
}

#ndashboard-navbar .nav-padding {
    text-align: center;
    padding: 30px 0px 50px;
}

#ndashboard-navbar .authorization{
    padding: 15px 0px;
    background-color: darkturquoise;
    font-style: italic;
    color: white;
}

#ndashboard-navbar .title {
    font-family: 'BebasNeue';
    font-size: 34px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

#ndashboard-navbar ul{
    text-align: left;
    list-style: none;
    padding: 0px;
    margin: 0px;
}

#ndashboard-navbar li a{
    padding: 10px 0px 0px 20px;
    color: #2B2C2C;
    display:block;
    min-height: 28px;
    outline: 0;
}

#ndashboard-navbar li a:not(.disabled):not(.active):hover{
    background-color:grey;
    color:white;
}

#ndashboard-navbar li a:hover{
    cursor:pointer;
}

#ndashboard-navbar li a.active{
    background-color:#EA4F51;
    color:white;
}

#ndashboard-navbar li a.disabled{
    color: #b6b6b6;
    cursor: default;
}


#ndashboard-content{
    display: table-cell;
    vertical-align: top;
}

#ndashboard-content .content-padding {
    padding: 20px;
}

#ndashboard-content .page-dashboard {
    display:none;
}

#ndashboard-content .tab-content {
    display: block;
    max-width: 800px;
    margin: 0px auto 30px auto;
    background-color: #F2F2F2;
    padding: 20px 30px;
    border-bottom: 1px solid grey;
}

#ndashboard-content .tab-content .list-button{
    text-align: center;
}

#ndashboard-content .tab-content h2{
    text-align: center;
}

#ndashboard-content .tab-content-large {
    display: block;
    margin: 0px auto 30px auto;
    background-color: #F2F2F2;
    padding: 20px 30px;
    border-bottom: 1px solid grey;
}

/*******************************************************************************
* Formulaires
*******************************************************************************/
#ndashboard .db-form .field {
    display: block;
    margin: 10px 0px;
    padding: 5px;
}

#ndashboard .db-form .field.admin-theme {
    border-left: 3px solid darkturquoise;
    background-color: lightgray;
}

#ndashboard .db-form .field.admin-theme label i.fa-unlock-alt,
#ndashboard .admin-theme-block i.fa-unlock-alt {
    color:darkturquoise;
    margin: 0px 5px 0px 0px;
}

#ndashboard .db-form label {
    display: inline-block;
    width: 220px;
    margin: 3px 10px 3px 0px;
    font-weight: bold;
}

#ndashboard .db-form label.long-label {
    width: auto;
}

#ndashboard .db-form .field-container select{
    display: inline-block;
    width: 220px;
}

#ndashboard .db-form .field-container select.timepicker {
    padding: 2px 2px;
    width: 52px;
    margin-left: 3px;
}

#ndashboard .db-form .field-container input{
    display: inline-block;
    width: 200px;
}

#ndashboard input:not([type='submit']),
#ndashboard select{
    margin: 3px 0px;
    background: none repeat scroll 0 0 #FFF;
    border: medium none;
    padding: 3px 8px;
}

#ndashboard input:not([type='submit']).error,
#ndashboard select.error{
    border: 1px solid red;
    padding: 2px 7px;
}

#ndashboard .db-form .field-container input[type='checkbox']{
    vertical-align: top;
    margin: 5px 10px 0px 5px;
    width: initial;
}


#ndashboard .db-form .field-container input.left-icon{
    padding-left: 24px;
    width: 188px;
}


#ndashboard .db-form .field-container input.right-icon{
    padding-right: 24px;
    width: 188px;
}

#ndashboard .db-form .field-container input.left-icon.datetime,
#ndashboard .db-form .field-container input.right-icon.datetime{
    width: 78px;
}


#ndashboard .db-form .field-container {
    white-space: nowrap;
    vertical-align: top;

}

#ndashboard .db-form .field-container .field-value {
    position: relative;
}

#ndashboard .db-form .field-container .field-value a {
    display: inline-block;
    overflow: hidden;
    max-width: 250px;
    text-overflow: ellipsis;
}


#ndashboard .db-form .field-container i.fa.left{
    position: absolute;
    top: 1px;
    left: 5px;
    width: 14px;
    text-align: center;
}
#ndashboard .db-form .field-container i.fa.right{
    position: absolute;
    top: 1px;
    right: 5px;
    width: 14px;
    text-align: center;
}

#ndashboard input.button.admin-theme,
#ndashboard a.button.admin-theme,
#ndashboard button.button.admin-theme{
    background-color: darkturquoise;
    border-color:darkturquoise;
}

#ndashboard .button[disabled] {
    opacity: 0.5;
    cursor: initial;
}

/*******************************************************************************
* Page resume
*******************************************************************************/

/* Frise étapes*/
#ndashboard #status-list{
    margin: 0px auto;
    max-width: 1100px;
    text-align: center;
    position:relative;
}

#ndashboard #status-list .perso{
    background: url(images/frise-db/golf-perso2.png);
    background-size: 56px;
    background-position: 80%;
    background-repeat: no-repeat;
    position:absolute;
    width: calc(40px + ((100% - 50px)/7)/2);
    height: 105px;
}

#ndashboard #status-list .perso.preparing{
    background: url(images/frise-db/golf-perso1.png);
    background-size: 56px;
    background-position: 80%;
    background-repeat: no-repeat;
}

#ndashboard #status-list .status{
    display: inline-block;
    width: calc((100% - 40px)/7);
    height: 170px;
    position: relative;
}

#ndashboard #status-list .status.begin {
    margin-left: 40px;
}

#ndashboard #status-list .line{
    height: 90px;
    border-bottom: 3px solid black;
    position: absolute;
    width: 100%;
}
#ndashboard #status-list .line.begin{
    width:50%;
    margin-left:50%;
}
#ndashboard #status-list .line.end{
    width:50%;
    margin-right:50%;
}
#ndashboard #status-list .line.none{
    width:0%;
    margin-left:50%;
    margin-right:50%;
}
#ndashboard #status-list .linetoright{
    height: 45px;
    border-top: 3px solid black;
    border-left: 3px solid black;
    position: absolute;
    width: 50%;
    margin-left: 50%;
    margin-top: 45px;
}

#ndashboard #status-list .linetoleft{
    height: 45px;
    border-top: 3px solid black;
    border-right: 3px solid black;
    position: absolute;
    width: 50%;
    margin-right:50%;
    margin-top: 45px;
}
#ndashboard #status-list .linetoboth{
    height: 45px;
    border-top: 3px solid black;
    position: absolute;
    width: 100%;
    margin-top: 45px;
}

#ndashboard #status-list .name{
    position: absolute;
    left: 0;
    right: 0;
    padding: 0px 10px;
    top: 110px;
    overflow: hidden;
}

#ndashboard #status-list .status#current .name{
    color: #EA4F51;
    font-weight: bold;
}

#ndashboard #status-list .icon-etape{
    background: url(images/frise-db/golf-etape.png);
    width: 100%;
    height: 100px;
    position: absolute;
    background-size: 20px;
    background-position: bottom;
    background-repeat: no-repeat;
}

#ndashboard #status-list .status#current .icon-etape{
    background: url(images/frise-db/golf-etape-rouge.png);
    background-size: 20px;
    background-position: bottom;
    background-repeat: no-repeat;
}
#ndashboard #status-list .status.end .icon-etape{
    background: url(images/frise-db/golf-drapeau.png) no-repeat calc(50% + 6px) 100%;
    background-size: 32px 80px;
}
#ndashboard #status-list .status#current.end .icon-etape{
    background: url(images/frise-db/golf-drapeau-rouge.png) no-repeat calc(50% + 6px) 100%;
    background-size: 32px 80px;
}



/* Statistiques */
#ndashboard .data-blocks
{
    text-align: center;
}
#ndashboard .data-blocks .quart-card {
    display:inline-block;
    width: 25%;
    padding: 10px 0px;
    min-width: 200px;
    vertical-align: middle;
}

#ndashboard .data-blocks .half-card {
    display:inline-block;
    width: 50%;
    padding: 10px 0px;
    min-width: 400px;
    vertical-align: middle;
}

#ndashboard .data-blocks .stat-big-number {
    font-family: "BebasNeue";
    font-size: 80px;
    padding-top: 10px;
}

#ndashboard .data-blocks .stat-little-number {
    font-family: "BebasNeue";
    font-size: 22px;
    margin-top: -12px;
    padding-bottom: 15px;
}

#ndashboard .data-blocks .stat-little-number-top {
    font-family: "BebasNeue";
    font-size: 26px;
    padding-bottom: 0px;
    margin-bottom: -40px;
    padding-top: 5px;
}
.details-card {
    height: 40px;
    vertical-align:bottom;
}


/* Changement d'étape*/
#page-resume #next-status-tab ul {
    list-style-position: inside;
    list-style-type: none;
    padding-left: 0px;
}

#page-resume #next-status-tab #vote-goals {
    list-style-type: square;
    padding-bottom: 15px;
}

#page-resume #next-status-tab ul li {
    padding: 5px;
}

/*******************************************************************************
* Page informations
*******************************************************************************/
#page-informations .bloc-grid{
    text-align: center;
}

#page-informations .display-bloc{
    width: 160px;
    display: inline-block;
    margin: 10px;
    background-color: #EEECED;
    vertical-align: top;
    cursor: pointer;
    border-bottom: 1px solid grey;
    padding-top: 10px;
    position:relative;
}

#page-informations .display-bloc:hover{
    background-color:grey;
    color:white;
}

#page-informations .display-bloc.active{
    background-color:#EA4F51;
    color:white;
}

#page-informations .display-bloc .fa{
    display: block;
}

#page-informations .display-bloc .infobloc-title{
    padding: 10px 0px;
}

#page-informations #estimated-turnover {
    list-style: none;
}

#page-informations #estimated-turnover li {
    border-bottom: 1px solid grey;
    padding-top: 6px;
}

/*******************************************************************************
* Page actualités
*******************************************************************************/
#page-news ul{
    text-align: left;
    list-style: none;
    padding-left: initial;
}

#page-news li{
    padding: 5px;
    border-bottom: 1px solid grey;
    margin-bottom: 5px;
    display: block;
}

#page-news li em{
    font-size: 12px;
}

#page-news .news-item-tools {
    float:right;
    margin-right: 20px;
}

#page-news .nb-comments-widget{
    padding: 4px;
}


/*******************************************************************************
* Page campagne
*******************************************************************************/
#page-campaign #team-list{
    padding: 0px 25px;
    list-style: none;
    text-align: left;
}

#page-campaign #team-list li{
    padding: 7px 0px;
    border-bottom: 1px solid #808080;
    margin: 5px 0px;
}

/*******************************************************************************
* Page contacts
*******************************************************************************/
#page-contacts #direct-mail .preview {
    border: 1px dotted black;
    background-color: #FFF !important;
    padding: 10px;
}

#page-contacts #direct-mail .preview-title {
    padding: 10px;
    font-weight: bold;
    border: 1px dotted;
    border-bottom: 0px;
}

/*******************************************************************************
* TABLEAUX DYNAMIQUES : PERSONNALISATION DE DATATABLES
*******************************************************************************/

#page-contacts .wdg-datatable table.dataTable thead th,
#page-contacts .wdg-datatable table.dataTable thead td {
    padding: 5px 17px 5px 8px;
    cursor: move;
}

#page-contacts .wdg-datatable table.dataTable tbody th,
#page-contacts .wdg-datatable table.dataTable tbody td {
    padding: 5px 5px;
}

#page-contacts .wdg-datatable table.dataTable tfoot th,
#page-contacts .wdg-datatable table.dataTable tfoot td {
    padding: 8px 8px 15px;
}

#page-contacts .wdg-datatable table.dataTable thead th.nopadding,
#page-contacts .wdg-datatable table.dataTable thead td.nopadding {
    padding: 5px 2px;
    cursor: default;
    background-image: none;
}

#page-contacts .wdg-datatable table.dataTable tbody th.nopadding,
#page-contacts .wdg-datatable table.dataTable tbody td.nopadding {
    padding: 5px 2px;
}

#page-contacts .wdg-datatable table.dataTable tfoot th.nopadding,
#page-contacts .wdg-datatable table.dataTable tfoot td.nopadding {
    padding: 8px 0px 15px;
}

#page-contacts .wdg-datatable table.dataTable tfoot tr{
    vertical-align: top;
}

#page-contacts .wdg-datatable #contacts-table{
    margin: 0;
}

#page-contacts .wdg-datatable tfoot th input{
    width: 90%;
}

#page-contacts .wdg-datatable table .dirty-hide{
    width: 0px;
    overflow: hidden;
    height: 0px;
}

div.dt-button-collection{
    width: auto !important;
}

table.dataTable td.select-checkbox::before {
    border-radius: 1px;
}