body.template-mon-compte div#container {
	background: #CFB7B7;
	background-image: url(../../images/common-background.png);
	background-repeat: no-repeat;
}
body.template-mon-compte div#container div#content {
	display: table;
	width: 100%;
	max-width: 1280px;
	table-layout: fixed;
	margin: auto;
	padding: 80px 0px 10px;
}
body.template-mon-compte div#container div#content .item-body-tab > h2 {
	margin: 8px 0px 16px;
	font-size: 30px;
	text-transform: uppercase;
	text-align: center;
}
body.template-mon-compte div#container div#content h3 {
	text-transform: uppercase;
	text-align: left;
	color: #00879b;
}
body.template-mon-compte div#container div#content nav {
	display: table-cell;
    vertical-align: top;
    width: 220px;
	border-right: 3px solid #E1E3E2;
	background: #FFFFFF;
}
body.template-mon-compte div#container div#content nav div.nav-header {
	padding: 16px;
	font-weight: bold;
}
body.template-mon-compte div#container div#content nav div.nav-header.header-orga {
	padding-top: 24px;
	padding-bottom: 8px;
}
body.template-mon-compte div#container div#content nav div.nav-header ul.project-list {
	padding-left: 0px;
	list-style: none;
}
body.template-mon-compte div#container div#content nav ul.nav-menu {
	margin: 0px;
	padding-left: 0px;
	list-style: none;
}
body.template-mon-compte div#container div#content nav ul.nav-menu li a {
	display: inline-block;
	width: calc( 100% - 15px );
	height: auto;
	padding: 5px 0px 5px 15px;
	text-transform: uppercase;
	color: #333333;
}
body.template-mon-compte div#container div#content nav ul.nav-menu li.selected a {
	background: #F4F4F4;
	border-left: 4px solid #D3EAE9;
	width: calc( 100% - 19px );
}
body.template-mon-compte div#container div#content main {
	display: table-cell;
    vertical-align: top;
	background: #F4F2F2;
	padding: 10px 20px;
}
body.template-mon-compte div#container div#content .db-form.v3 {
	max-width: 600px;
	margin: 0px auto;
}
body.template-mon-compte div#container div#content #item-body-wallet .wdg-message {
	margin: 16px auto;
	padding: 16px;
	text-transform: none;
	text-align: justify;
}
body.template-mon-compte div#container div#content #item-body-wallet .wdg-message.error:before {
	top: 0px;
	left: 40px;
}
body.template-mon-compte div#container div#content a.download-certificate {
	display: inline-block;
	padding: 16px 32px;
}
body.template-mon-compte div#container div#content h3.has-margin-top {
	margin-top: 24px;
}
body.template-mon-compte div#container div#content .investment-item {
	display: flex;
	justify-content: space-around;
	margin-bottom: 8px;
	padding: 24px;
	background: #FFFFFF;
}
body.template-mon-compte div#container div#content .investment-item .amount-date {
	min-width: 150px;
}
body.template-mon-compte div#container div#content .investment-item .single-line {
	min-width: 50px;
	line-height: 38px;
	vertical-align: middle;
}
body.template-mon-compte div#container div#content .investment-item .single-line.publish {
	color: #8BC79C;
}
body.template-mon-compte div#container div#content .investment-item .single-line.pending {
	color: #cfb7b7;
}
body.template-mon-compte div#container div#content .investment-item .single-line.publish.campaign-archive {
	color: #333333;
}
body.template-mon-compte div#container div#content .investment-item a.button {
	padding: 16px 16px;
}
body.template-mon-compte div#container div#content .button-view-royalties-list {
	position: relative;
	top: -20px;
	height: 42px;
	background: #FFF;
}
body.template-mon-compte div#container div#content .button-hide-royalties-list {
	position: relative;
	top: 36px;
	height: 42px;
	background: #FFF;
}
body.template-mon-compte div#container div#content .royalties-list {
	background: #FFF;
	margin-top: -24px;
	padding: 16px;
}
body.template-mon-compte div#container div#content .royalties-list > div {
	font-weight: bold;
}
body.template-mon-compte div#container div#content .royalties-list hr {
	width: 95%;
	border: 1px solid #F4F2F2
}
body.template-mon-compte div#container div#content .royalties-list .roi-table {
	margin: auto;
}
body.template-mon-compte div#container div#content .royalties-list .roi-table tr td {
	text-align: left;
	padding-bottom: 4px;
}
body.template-mon-compte div#container div#content .royalties-list .roi-table tr td.align-right {
	text-align: right;
	padding-right: 16px;
}
body.template-mon-compte div#container div#content .royalties-list .roi-table tr td.align-right:first-letter {
	text-transform: uppercase;
}
body.template-mon-compte div#container div#content .royalties-list .roi-table tr td:nth-child(2) {
	padding-left: 16px;
	border-left: 4px solid #FFF;
}
body.template-mon-compte div#container div#content .royalties-list .roi-table tr.year-title td {
	padding-top: 8px;
	font-weight: bold;
}
body.template-mon-compte div#container div#content .royalties-list .roi-table tr.year-title td span {
	font-weight: normal;
}
body.template-mon-compte div#container div#content .royalties-list .roi-table tr td.status {
	border-left: 4px solid #F4F2F2;
}
body.template-mon-compte div#container div#content .royalties-list .roi-table tr td.status.late {
	border-left: 4px solid #EACDCB;
}
body.template-mon-compte div#container div#content .royalties-list .roi-table tr td.status.finished {
	border-left: 4px solid #8BC79C;
}

body.template-mon-compte div#container div#content div.authentication-items {
    display: -webkit-flex;
	display: flex;
    -webkit-justify-content: space-around; 
    justify-content: space-around;
	margin: 32px 0px;
}

body.template-mon-compte div#container div#content div.authentication-items div.authentication-item {
	width: 300px;
}

.msg-authentication-alert:before, body.template-mon-compte div#container div#content div.authentication-items div.authentication-item.alert:before {
	position: relative;
	display: block;
	content: "!";
	font-size: 20px;
	width: 40px;
	height: 40px;
	margin-top: -40px;
	top: 20px;
	left: 20px;
	float: right;
	line-height: 40px;
	border: 1px solid #FFF;
	border-radius: 50%;
	text-align: center;
	background: #ea4f51;
	color: #FFF;
}

body.template-mon-compte div#container div#content div.authentication-items div.authentication-item div {
	margin-bottom: 16px;
	padding: 8px;
	text-align: center;
	background: #FFF;
}

body.template-mon-compte div#container div#content div.authentication-items div.authentication-item div div {
	font-weight: bold;
	text-align: center;
}

body.template-mon-compte div#container div#content div.authentication-items div.authentication-item a {
	display: block;
	width: 100%;
	padding: 16px 0px;
	text-align: center;
}

@media screen and (max-width: 900px) {
	body.template-mon-compte div#container div#content nav, body.template-mon-compte div#container div#content main {
		display: block;
	}
}
