body.template-mon-compte div#container {
	background: #CFB7B7;
	background-image: url(../../images/common-background.png);
	background-repeat: no-repeat;
}
body.template-mon-compte div#container div#content {
	display: table;
	width: 100%;
	max-width: 1280px;
	table-layout: fixed;
	margin: auto;
	padding: 80px 0px 10px;
}
body.template-mon-compte div#container div#content .item-body-tab > h2 {
	margin: 8px 0px 16px;
	font-size: 30px;
	text-transform: uppercase;
	text-align: center;
}
body.template-mon-compte div#container div#content h3 {
	text-transform: uppercase;
	text-align: left;
	color: #00879b;
}
body.template-mon-compte div#container div#content nav {
	display: table-cell;
    vertical-align: top;
    width: 220px;
	border-right: 3px solid #E1E3E2;
	background: #F4F2F2;
}
body.template-mon-compte div#container div#content nav div.nav-header {
	padding: 16px;
	font-weight: bold;
}
body.template-mon-compte div#container div#content nav div.nav-header.header-orga {
	padding-top: 24px;
	padding-bottom: 8px;
}
body.template-mon-compte div#container div#content nav div.nav-header ul.project-list {
	padding-left: 0px;
	list-style: none;
}
body.template-mon-compte div#container div#content nav ul.nav-menu {
	margin: 0px;
	padding-left: 0px;
	list-style: none;
}
body.template-mon-compte div#container div#content nav ul.nav-menu li a {
	display: inline-block;
	width: calc( 100% - 15px );
	height: auto;
	line-height: 16px;
	font-size: 13px;
	padding: 5px 0px 5px 15px;
	text-transform: uppercase;
	color: #333333;
	font-weight: 300;
	text-decoration: none;
}
body.template-mon-compte div#container div#content nav ul.nav-menu li.selected a {
	background: #ffffff;
	border-left: 4px solid #D3EAE9;
	width: calc( 100% - 19px );
}

body.template-mon-compte div#container div#content nav button#swap-menu {
	display: none;
}

body.template-mon-compte div#container div#content main {
	display: table-cell;
    vertical-align: top;
	background: #ffffff;
	padding: 10px 20px;
}
body.template-mon-compte div#container div#content .db-form.v3 {
	max-width: 600px;
	margin: 0px auto;
}
body.template-mon-compte div#container div#content #item-body-wallet .wallet-preview {
	background: #FFFFFF;
	padding: 16px;
	margin-bottom: 24px;
	height: 72px;
}
body.template-mon-compte div#container div#content #item-body-wallet .wallet-preview > img {
	float: left;
}
body.template-mon-compte div#container div#content #item-body-wallet .wallet-preview > div {
	float: left;
	text-align: left;
	margin-left: 8px;
	margin-top: 8px;
}
body.template-mon-compte div#container div#content #item-body-wallet .wallet-preview > div span:first-child {
	font-size: 32px;
	color: #93626D;
}
body.template-mon-compte div#container div#content #item-body-wallet .wallet-preview > a {
	float: right;
	margin-top: 11px;
}

@media screen and (max-width: 500px) {
	body.template-mon-compte div#container div#content #item-body-wallet .wallet-preview {
		height: 132px;
	}
	body.template-mon-compte div#container div#content #item-body-wallet .wallet-preview > a {
		float: none;
		width: -webkit-calc(100% - 2px);
		width: -moz-calc(100% - 2px);
		width: calc(100% - 2px);
	}
}
body.template-mon-compte div#container div#content #item-body-wallet .wdg-message {
	margin: 16px auto;
	padding: 16px;
	text-transform: none;
	text-align: justify;
}
body.template-mon-compte div#container div#content #item-body-wallet .wdg-message.error:before {
	top: 0px;
	left: 40px;
}

@media screen and (max-width: 600px) {
	body.template-mon-compte div#container div#content #item-body-wallet .wire-lw {
		float: none;
		display: block;
		margin: 8px 0px;
	}
}

body.template-mon-compte div#container div#content #item-body-wallet ul.user-history {
	margin: 0px;
	padding-left: 0px;
	list-style: none;
	background: #FFFFFF;
}
body.template-mon-compte div#container div#content #item-body-wallet ul.user-history li {
	padding: 8px;
	margin-bottom: 16px;
}
body.template-mon-compte div#container div#content #item-body-wallet ul.user-history li span:nth-child(1) {
	display: inline-block;
	width: 100px;
	color: #00879b;
}
body.template-mon-compte div#container div#content #item-body-wallet ul.user-history li span:nth-child(2) {
	color: #CFB7B7;
}

body.template-mon-compte div#container div#content #item-body-subscription #field-amount {
	display: none;
}

/***** HISTORIQUE DES TRANSACTIONS *****/
body.template-mon-compte div#container div.dataTables_length label {
	display: none;
}
body.template-mon-compte div#container .dataTables_filter {
	display: none;
}
body.template-mon-compte div#container .dt-button.buttons-excel.buttons-html5 {
	width: auto;
	padding: 10px;
	border: none;
	color: #fff;
	background-color: #00879b;
	text-transform: uppercase;
	cursor: pointer;
}
body.template-mon-compte div#container table.user-transactions {
	margin-top: 8px;
}
body.template-mon-compte div#container table.user-transactions thead tr {
	color: #00879B;
	font-weight: bold;
	text-transform: uppercase;
	background-color: #F4F2F3;;
}
body.template-mon-compte div#container table.user-transactions thead td {
	border-bottom: 2px solid #D3EAE9;
}

body.template-mon-compte div#container table.user-transactions tbody tr td {
	border-bottom: 1.5px solid #F4F2F3;
	padding: 20px 0px;
}
body.template-mon-compte div#container table.user-transactions tbody tr td .date-mobile {
	display: none;
}
body.template-mon-compte div#container table.user-transactions tbody tr td.transaction-titre {
	text-transform: uppercase;
	font-weight: bold;
}
body.template-mon-compte div#container table.user-transactions tbody tr td .organization-name, body.template-mon-compte div#container table.user-transactions tbody tr td .mean-payment-info{
	font-size: 13px;
	text-transform: none;
	font-weight: normal;
}
body.template-mon-compte div#container table.user-transactions tbody tr .transaction-date, body.template-mon-compte div#container table.user-transactions tbody tr .sorting_1 {
	padding-left: 16px;
}
body.template-mon-compte div#container table.user-transactions td:nth-of-type(2) {
	padding-left: 16px;
}
body.template-mon-compte div#container table.user-transactions tbody td.positive, body.template-mon-compte div#container table.user-transactions tbody td.negative {
	text-align: center;
	font-weight: bold;
}
body.template-mon-compte div#container table.user-transactions tbody td.positive {
	color: #8BC79C;
}

/* Style de la pagination  */
body.template-mon-compte div#container .user-transactions-init .paginate_button {
	border: none;
}
body.template-mon-compte div#container .user-transactions-init .paginate_button.current {
	border: none;
	background: #D3EAE9;
}
body.template-mon-compte div#container .user-transactions-init .paginate_button.current:hover, body.template-mon-compte div#container .user-transactions-init .paginate_button:hover {
	background: #00879B;
	border: none;
}


@media only screen and (max-width: 767px) {
	body.template-mon-compte div#container table.user-transactions thead tr td:nth-of-type(2) { /* Masquer la catégorie transaction */
		display: none;
	}
	body.template-mon-compte div#container table.user-transactions tbody tr td .date-mobile { /* Afficher la date dans le bloc transaction en mobile  */
		display: block;
		font-weight: normal;
		margin-bottom: 10px;
	}
	body.template-mon-compte div#container table.user-transactions tbody tr td:first-of-type { /* Masquer la colonne date */
		display: none;
	}
	body.template-mon-compte div#container table.user-transactions tbody td.transaction-titre {
		padding-left: 20px;
	}
}


body.template-mon-compte div#container div#content #item-body-identitydocs .phone-info {
	margin: -32px 0px 16px;
	padding-left: 32px;
}

body.template-mon-compte div#container div#content a.download-certificate {
	display: inline-block;
	padding: 16px 32px;
}
body.template-mon-compte div#container div#content #tax-exemption-preview {
	margin-bottom: 16px;
	padding: 16px;
	border: 1px solid;
	text-align: left;
	background: #FFF;
}
body.template-mon-compte div#container div#content h3.has-margin-top {
	margin-top: 24px;
}


body.template-mon-compte div#container div#content .investment-synthesis {
	display: hidden;
	font-size: 20px;
	margin-bottom: 24px;
}
body.template-mon-compte div#container div#content .investment-synthesis-pictos {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-bottom: 24px;
}
body.template-mon-compte div#container div#content .investment-synthesis-pictos.hidden {
	display: none;
}
body.template-mon-compte div#container div#content .investment-synthesis-pictos > div {
	width: 264px;
	margin-bottom: 8px;
	padding: 24px;
	background: #FFFFFF;
	text-align: right;
}
body.template-mon-compte div#container div#content .investment-synthesis-pictos > div img {
	float: left;
}
body.template-mon-compte div#container div#content .investment-synthesis-pictos > div span.data {
	font-size: 32px;
	color: #93626D;
}
body.template-mon-compte div#container div#content .investment-synthesis-pictos > div span.txt {
	clear: both;
	font-size: 12px;
	display: inline-block;
	margin-top: 8px;
}


body.template-mon-compte div#container div#content .investment-item {
	display: flex;
	justify-content: space-around;
	margin-bottom: 8px;
	padding-top: 24px;
	padding-bottom: 24px;
	padding-left: 24px;
	background: #FFFFFF;
	flex-wrap: wrap;
	font-size: 16px;
	border: 1px solid #EBEBEB;
	align-items: center;
}
body.template-mon-compte div#container div#content .investment-item .investment-item-child {
	border-right: 1px solid #EBEBEB;
	flex: 1;
}
body.template-mon-compte div#container div#content .investment-item .amount-date {
	min-width: 150px;
}
body.template-mon-compte div#container div#content .investment-item .amount-amount {
	font-size: 20px;
}
body.template-mon-compte div#container div#content .investment-item .single-line {
	min-width: 92px;
	line-height: 50px;
	vertical-align: middle;
}
body.template-mon-compte div#container div#content .investment-item .single-line.publish {
	color: #8BC79C;
}
body.template-mon-compte div#container div#content .investment-item .single-line.canceled {
	color: #8BC79C;
}
body.template-mon-compte div#container div#content .investment-item .single-line.pending {
	color: #cfb7b7;
}
body.template-mon-compte div#container div#content .investment-item .single-line.publish.campaign-archive {
	color: #333333;
}
body.template-mon-compte div#container div#content .investment-item a.button {
	padding: 16px 16px;
}

@media screen and (max-width: 767px) {
	body.template-mon-compte div#container div#content .investment-item {
		flex-direction: column;
		padding-left: 0px;
		justify-content: center;
	}
	body.template-mon-compte div#container div#content .investment-item .investment-item-child {
		padding: 16px 16px;
		border-right: 0px;
		border-bottom: 1px solid #EBEBEB;
	}
	body.template-mon-compte div#container div#content .investment-item .amount-date {
		text-align: center;
	}
}

body.template-mon-compte div#container div#content .vote-intentions h4 {
	margin: 0px 0px 16px;
	font-weight: bold;
}
body.template-mon-compte div#container div#content .vote-intentions a.button.red {
	display: inline-block;
	width: 250px;
	margin-bottom: 32px;
	padding: 16px 16px;
	text-align: center;
}

body.template-mon-compte div#container div#content .button-view-royalties-list {
	position: relative;
	top: -20px;
	height: 42px;
	background: #FFF;
}
body.template-mon-compte div#container div#content .button-hide-royalties-list {
	position: relative;
	top: 36px;
	height: 42px;
	background: #FFF;
}
body.template-mon-compte div#container div#content .royalties-list {
	background: #FFF;
	padding: 16px;
}
body.template-mon-compte div#container div#content .royalties-list > div {
	font-weight: bold;
}
body.template-mon-compte div#container div#content .royalties-list hr {
	width: 95%;
	border: 1px solid #F4F2F2
}
body.template-mon-compte div#container div#content .royalties-list .roi-table {
	margin: auto;
}
body.template-mon-compte div#container div#content .royalties-list .roi-table tr td {
	text-align: left;
	padding-bottom: 4px;
}
body.template-mon-compte div#container div#content .royalties-list .roi-table tr td.align-right {
	text-align: right;
	padding-right: 16px;
}
body.template-mon-compte div#container div#content .royalties-list .roi-table tr td.align-right:first-letter {
	text-transform: uppercase;
}
body.template-mon-compte div#container div#content .royalties-list .roi-table tr td:nth-child(2) {
	padding-left: 16px;
	border-left: 4px solid #FFF;
}
body.template-mon-compte div#container div#content .royalties-list .roi-table tr.yearly-title td {
	font-style: italic;
}
body.template-mon-compte div#container div#content .royalties-list .roi-table tr.yearly-title td:nth-child(1) {
	width: 49%;
	text-align: right;
}
body.template-mon-compte div#container div#content .royalties-list .roi-table tr.yearly-title.year-title td {
	padding-top: 8px;
	font-weight: bold;
	font-style: normal;
}
body.template-mon-compte div#container div#content .royalties-list .roi-table tr td.status {
	border-left: 4px solid #F4F2F2;
}
body.template-mon-compte div#container div#content .royalties-list .roi-table tr td.status.late {
	border-left: 4px solid #EACDCB;
}
body.template-mon-compte div#container div#content .royalties-list .roi-table tr td.status.finished {
	border-left: 4px solid #8BC79C;
}
body.template-mon-compte div#container div#content .royalties-list .roi-table tr td.status.future {
	border-left: 4px dotted #F4F2F2;
	font-weight: normal;
}
body.template-mon-compte div#container div#content .royalties-list .roi-table tr td.status.future div.tooltip {
	display: inline-block;
}
body.template-mon-compte div#container div#content .royalties-list .roi-table tr td.status.future div.tooltip button {
	display: inline-block;
	width: 22px;
	height: 22px;
	padding: 3px;
	border: 0px;
	border-radius: 12px;
	text-align: center;
	font-weight: bold;
	background: #F4F2F2;
	color: #333;
	cursor: pointer;
}
body.template-mon-compte div#container div#content .royalties-list .roi-table tr td.status.future div.tooltip div.tooltip-text {
	position: absolute;
	display: none;
	z-index: 1;
	margin-left: -16px;
	margin-top: -120px;
	width: 200px;
	height: 70px;
	padding: 8px;
	border-radius: 8px;
	font-size: 13px;
	font-weight: normal;
	text-align: justify;
	background: #333;
	color: #FFF;
}
body.template-mon-compte div#container div#content .royalties-list .roi-table tr td.status.future div.tooltip div.tooltip-text:after {
	content: "";
	position: absolute;
	top: 100%;
	left: 27px;
	margin-left: -8px;
	border-width: 8px;
	border-style: solid;
	border-color: #333 transparent transparent transparent;
}


body.template-mon-compte div#container div#content div.subscription-item {
	padding: 24px;
	border: 1px solid #EBEBEB;
}
body.template-mon-compte div#container div#content div.subscription-item h3 {
	color: #333;
}
body.template-mon-compte div#container div#content div.subscription-item hr {
	border: 1px solid #EBEBEB;
	border-top: none;
	margin: 24px 0px;
}
body.template-mon-compte div#container div#content div.subscription-item .button-options {
	margin: 20px 0px;
	text-align: center;
}
body.template-mon-compte div#container div#content div.subscription-item .button-options a.button {
	padding: 20px 40px;
}


body.template-mon-compte div#container div#content div.authentication-items {
    display: -webkit-flex;
	display: flex;
    -webkit-justify-content: space-around; 
    justify-content: space-around;
	margin: 32px 0px;
}

body.template-mon-compte div#container div#content div.authentication-items div.authentication-item {
	width: 300px;
}

.msg-authentication-alert:before, body.template-mon-compte div#container div#content div.authentication-items div.authentication-item.alert:before {
	position: relative;
	display: block;
	content: "!";
	font-size: 20px;
	width: 40px;
	height: 40px;
	margin-top: -40px;
	top: 20px;
	left: 20px;
	float: right;
	line-height: 40px;
	border: 1px solid #FFF;
	border-radius: 50%;
	text-align: center;
	background: #ea4f51;
	color: #FFF;
}

body.template-mon-compte div#container div#content div.authentication-items div.authentication-item div {
	margin-bottom: 16px;
	padding: 8px;
	text-align: center;
	background: #FFF;
}

body.template-mon-compte div#container div#content div.authentication-items div.authentication-item div div {
	font-weight: bold;
	text-align: center;
}

body.template-mon-compte div#container div#content div.authentication-items div.authentication-item a {
	display: block;
	width: 100%;
	padding: 16px 0px;
	text-align: center;
}

body.template-mon-compte div#container div#content div#item-body-bank div.user-registered-card {
	display: block;
	clear: both;
	min-height: 80px;
	padding: 5px;
    margin: 5px;
	border: 1px solid #333;
	color: #333333;
}
body.template-mon-compte div#container div#content div#item-body-bank div.user-registered-card img {
	float: left;
	margin-right: 10px;
}
body.template-mon-compte div#container div#content div#item-body-bank div.user-registered-card span {
	float: left;
	width: calc( 100% - 230px );
	margin-top: 16px;
}
body.template-mon-compte div#container div#content div#item-body-bank div.user-registered-card form {
	float: right;
	width: 100px;
	line-height: 80px;
}

@media screen and (max-width: 900px) {
	body.template-mon-compte div#container div#content main {
		display: block;
	}
	body.template-mon-compte div#container div#content nav {
		position: absolute;
		left: -223px;
	}
	body.template-mon-compte div#container div#content nav button#swap-menu {
		position: absolute;
		display: block;
		left: 0px;
		top: 0px;
		width: 64px;
		height: 64px;
		margin-left: 223px;
		padding: 0px;
		border: 0px;
		font-size: 40px;
		background: #E1E3E2;
		text-align: center;
		cursor: pointer;
	}
	body.template-mon-compte div#container div#content nav.visible {
		display: block;
		left: 0px;
		border-bottom: 3px solid #E1E3E2;
		z-index: 2;
	}
	body.template-mon-compte div#container div#content nav ul.nav-menu li a {
		font-size: 17px;
		min-height: 25px;
	}
	body.template-mon-compte div#container div#content nav.visible button#swap-menu {
		left: -2px;
	}
}

@media screen and (max-width: 700px) {
	body.template-mon-compte div#container div#content main #tax-exemption-form-inprogress button {
		width: 100%;
	}
	body.template-mon-compte div#container div#content main #tax-exemption-form-inprogress button.transparent {
		margin-bottom: 16px;
	}
	body.template-mon-compte div#container div#content main #tax-exemption-form-next button {
		width: 100%;
	}
	body.template-mon-compte div#container div#content main #tax-exemption-form-next button.transparent {
		margin-bottom: 16px;
	}

}