div.center {
	width: 500px;
}
h2 {
	font-size: 14px;
}

div#content form {
	max-width: 500px;
	margin: 20px auto;
}
div#content form.enlarge {
	max-width: 600px;
}
@media screen and (max-width: 600px) {
	div#content form, div#content div.db-form {
		min-width: 310px;
		margin: 20px 5px;
	}
}
@media screen and (max-width: 321px) {
	div#content form, div#content div.db-form {
		width: 300px;
		margin: 20px auto;
	}
}

div#content header {
	padding-top: 80px;
	background: #cfb7b7;
	background-image: url(../../images/footer/trame-footer.png);
	background-repeat: no-repeat;
}
div#content header h1 {
	font-size: 24px;
	text-transform: uppercase;
	text-align: center;
}

div#content header div.back-project {
	text-align: center;
	margin: 20px 0px;
}
div#content header div.back-project a {
	font-size: 12px;
}

div#content header #invest-breadcrumb {
	margin: 32px auto 0px;
	width: 250px;
	padding-bottom: 24px;
	border-top: 1px solid #333333;
}
div#content header #invest-breadcrumb span {
	display: inline-block;
	width: 54px;
	margin-right: 5px;
	font-size: 11px;
	vertical-align: top;
	text-align: center;
}
div#content header #invest-breadcrumb span.selected {
	font-weight: bold;
}
div#content header #invest-breadcrumb span:first-child {
	float: left;
	margin-left: -25px;
}
div#content header #invest-breadcrumb span:nth-child(2):after {
	top: -46px;
}
div#content header #invest-breadcrumb span:last-child {
	float: right;
	margin-right: -25px;
}
div#content header #invest-breadcrumb span:before, div#content header #invest-breadcrumb span:after {
	content: '';
	position: relative;
	top: -8px;
	left: 25px;
	display: block;
	width: 0;
	height: 0;
	border-top: 8px solid transparent;
	border-bottom: 8px solid transparent;
	border-left: 16px solid #333333;
}
div#content header #invest-breadcrumb span:after {
	top: -34px;
	left: 26px;
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	border-left: 12px solid #cfb7b7;
}
div#content header #invest-breadcrumb span.selected:after {
	border-left: 0px;
}

.invest_error {
    color: #FE494C;
}
.invest_error:after {
	content: "";
	display: block;
	height: 20px;
}

@media screen and (max-width: 450px) {
	.db-form.v3 a.button.half, .db-form.v3 button.half {
		width: 47%;
		padding: 2px;
		font-size: 12px;
	}
}

/**
 ETAPE 1 : Saisie montant
**/
div#wdg-lightbox-invest-warning button.right {
	width: 200px;
	height: 50px;
}
div#content div#thanks-to-me > img {
	float: left;
	max-width: 40%;
	margin-right: 10%;
}
div#content div#thanks-to-me > div {
	float: left;
	text-align: left;
	padding-top: 45px;
}
div#content div#thanks-to-me > div > span:first-child {
	text-transform: uppercase;
	font-weight: bold;
}
div#content span.number {
	font-style: italic;
	color: #93626D;
}
div#content button.clear {
	margin-top: 20px;
}

/**
 ETAPE 3 : Contrat
**/
div#content div#contract-intro {
	min-height: 120px;
	text-align: justify;
}
div#content div#contract-intro img {
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
}
div#content div#contract-preview {
	height: 400px;
	overflow: scroll;
	margin-top: 20px;
	padding: 10px;
	clear: both;
	border: 1px solid grey;
	text-align: left;
}
div#content #field-confirm-subscription label {
	font-weight: normal;
}
@media screen and (max-width: 500px) {
	div#content div#contract-intro img {
		width: 100px;
		margin-right: 5px;
		margin-bottom: 5px;
	}
}

div.mean-payment-list {
	margin: 25px auto;
}
div.mean-payment-list a, div.mean-payment-list p {
	display: block;
	clear: both;
	min-height: 80px;
	padding: 5px;
    margin: 5px;
	border: 1px solid #333;
	color: #333333;
}
div.mean-payment-list a img, div.mean-payment-list p img {
	float: left;
	margin-right: 10px;
}
div.mean-payment-list a span, div.mean-payment-list p span {
	font-size: 0.9em;
}
div.mean-payment-list a span.mean-payment-name, div.mean-payment-list p span.mean-payment-name {
	font-size: 1em;
	text-transform: uppercase;
}

div.mean-payment-list p.disabled {
	background: rgba( 0, 0, 0, 0.1);
	border: 0px;
}
div.mean-payment-list p.disabled img {
	opacity: 0.5;
}