body.template-investir.context-wedogood nav#main div#menu {
	text-align: center;
}
body.template-investir.context-wedogood nav#main div#menu > a {
	display: none;
}
body.template-investir.context-wedogood nav#main div#menu > a:first-child {
	display: inline-block;
	float: none;
	margin-left: 60px;
}
body.template-investir.context-wedogood nav#main div#menu > a.btn-user {
	display: inline-block;
	float: right;
}
body.template-investir.context-wedogood nav#main div#menu > a.btn-user:before {
	border-left: 0px;
}

body.template-investir.context-wedogood div#content form {
	max-width: 500px;
	margin: 20px auto;
}
body.template-investir.context-wedogood div#content form.enlarge {
	max-width: 600px;
}
@media screen and (max-width: 600px) {
	body.template-investir.context-wedogood div#content form {
		min-width: 310px;
		margin: 20px 5px;
	}
}

body.template-investir.context-wedogood div#content form span#royalties-percent {
	color: #93626D;
}

div#content header {
	padding-top: 80px;
	background: #cfb7b7;
	background-image: url(../../images/footer/trame-footer.png);
	background-repeat: no-repeat;
}
div#content header h1 {
	font-size: 24px;
	text-transform: uppercase;
	text-align: center;
}

div#content header div.back-project {
	text-align: center;
	margin: 20px 0px;
}
div#content header div.back-project a {
	font-size: 12px;
}

div#content header #invest-breadcrumb {
	margin: 32px auto 0px;
	width: 250px;
	padding-bottom: 24px;
	border-top: 1px solid #333333;
}
div#content header #invest-breadcrumb span {
	display: inline-block;
	width: 54px;
	margin-right: 5px;
	font-size: 11px;
	vertical-align: top;
	text-align: center;
}
div#content header #invest-breadcrumb span.selected {
	font-weight: bold;
}
div#content header #invest-breadcrumb span:first-child {
	float: left;
	margin-left: -25px;
}
div#content header #invest-breadcrumb span:nth-child(2):after {
	top: -46px;
}
div#content header #invest-breadcrumb span:last-child {
	float: right;
	margin-right: -25px;
}
div#content header #invest-breadcrumb span:before, div#content header #invest-breadcrumb span:after {
	content: '';
	position: relative;
	top: -8px;
	left: 25px;
	display: block;
	width: 0;
	height: 0;
	border-top: 8px solid transparent;
	border-bottom: 8px solid transparent;
	border-left: 16px solid #333333;
}
div#content header #invest-breadcrumb span:after {
	top: -34px;
	left: 26px;
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	border-left: 12px solid #F2F2F2;
}
div#content header #invest-breadcrumb span.selected:after {
	border-left: 0px;
}

.invest_error {
    color: #FE494C;
}
.invest_error:after {
	content: "";
	display: block;
	height: 20px;
}

/**
 ETAPE 3 : Contrat
**/
body.template-investir.context-wedogood div#content div#contract-intro {
	min-height: 120px;
	text-align: justify;
}
body.template-investir.context-wedogood div#content div#contract-intro img {
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
}
body.template-investir.context-wedogood div#content div#contract-preview {
	height: 400px;
	overflow: scroll;
	margin-top: 20px;
	padding: 10px;
	clear: both;
	border: 1px solid grey;
	text-align: left;
}
body.template-investir.context-wedogood div#content #field-validate_contract label {
	font-weight: normal;
}
@media screen and (max-width: 500px) {
	body.template-investir.context-wedogood div#content div#contract-intro img {
		width: 100px;
		margin-right: 5px;
		margin-bottom: 5px;
	}
}


body.template-investir.context-wedogood div.center {
	width: 500px;
}
body.template-investir.context-wedogood h2 {
	font-size: 14px;
}
body.template-investir.context-wedogood div.mean-payment-list {
	margin: 25px auto;
}
body.template-investir.context-wedogood div.mean-payment-list a, body.template-investir.context-wedogood div.mean-payment-list p {
	display: block;
	clear: both;
	color: #333333;
	min-height: 80px;
}
body.template-investir.context-wedogood div.mean-payment-list a img, body.template-investir.context-wedogood div.mean-payment-list p img {
	float: left;
	margin-right: 10px;
}
body.template-investir.context-wedogood div.mean-payment-list a span, body.template-investir.context-wedogood div.mean-payment-list p span {
	font-size: 0.9em;
}
body.template-investir.context-wedogood div.mean-payment-list a span.mean-payment-name, body.template-investir.context-wedogood div.mean-payment-list p span.mean-payment-name {
	font-size: 1em;
	text-transform: uppercase;
}