@media screen and (max-width: 480px) {
/*******************************************************************************
* COMMON
*******************************************************************************/
	.mobile_hidden { display: none !important; }
	.only_on_mobile { display: block !important; }
	.center { width: 100% !important; }
	#container { padding-top: 0px !important; }
	.indent { margin-left: 0px !important; }
	
	.part-title-separator {
		width: 90% !important;
		margin: 0px 5% !important;
	}

/*******************************************************************************
* HEADER MENU
*******************************************************************************/
	#navigation {
		position: static !important;
		min-width: 0px !important;
	}
	#navigation #nav { height: 50px !important; }
	#navigation #nav .page_item { 
		padding-top: 23px !important; 
		height: 27px !important; 
	}
	#navigation #nav .page_item_logo { 
		padding-top: 5px !important; 
		height: 45px !important; 
		-webkit-margin-before: -15px !important;
	}
	#navigation #nav .page_item_logo a {
		-webkit-margin-before: 15px;
		display: inline-block;
	}
	#navigation #nav .only_on_mobile { display: block !important; }
	#navigation #nav .only_on_mobile .page_item_border {
		border-left: 0px;
		border-right: 1px solid #FFF;
		display: inline-block;
	}
	#submenu-mobile {
		position: absolute;
		top: 35px;
		background: #333333;
		z-index: 1000;
	}
	#submenu-mobile ul {
		margin: 10px 20px;
		padding-left: 0px;
	}
	#submenu-mobile ul li {
		list-style: none;
		text-transform: uppercase;
		margin: 5px 0px;
	}
	#submenu-mobile ul li a {
		color: #FFF;
		font-size: 14px;
	}
	
/*******************************************************************************
* HEADER
*******************************************************************************/
	header { min-width: 0px !important; }
	header.header_home #welcome_text { margin-top: 40px !important; }
	header.header_home #welcome_text p {
		margin: 5px 10px !important;
		text-align: center !important;
	}
	header.header_home #welcome_text p:nth-child(1) { 
		font-size: 20px !important;
		margin-bottom: 30px !important;
	}
	header.header_home #welcome_text p.hello { margin: 15px 15px 0px 0px !important; }
	header.header_home #welcome_text a.button.big { line-height: 50px; }
	
/*******************************************************************************
* FOOTER
*******************************************************************************/
	footer { min-width: 0px !important; }
	footer .menutitle { display: none; }
	footer .widget-area {
		width: 100% !important;
		background: #C7C6C6;
	}
	footer .widget-area .menu-item { 
		text-align: center;
	}
	footer .widget-area .menu-item a { 
		font-size: 12px;
	}
	footer .widget-area ul.xoxo { margin-bottom: 0px; }
	footer #first { margin-left: 0px !important; }
	footer #first span.only_on_mobile { 
		display: block;
		width: auto;
		padding-bottom: 5px;
		margin: 0px 35px 10px;
		border-bottom: 1px solid #FFF;
		font-size: 15px;
		font-weight: bold;
	}
	footer #third #menu-footer-3 li:nth-child(1) { 
		width: 213px !important;
		margin: auto;
	}
	footer #third #menu-footer-3 li:nth-child(2) { display: none; }

/*******************************************************************************
* HOME PAGE
*******************************************************************************/
	#home-responsive {
		margin: 10px;
		width: auto;
	}
	#home-responsive h2 {
		margin: 15px 0px 10px 0px;
	}
	#home-responsive p {
		padding: 5px 0px 10px 0px;
		margin: 5px 0px 15px 0px;
	}
	header.header_home {
		height: 640px !important;
		background-image: url("../../images/header-home-480.jpg") !important;
		background-position: center top;
	}
	
/*******************************************************************************
* PROJECT SHORT - MENU
*******************************************************************************/
	ul#project-list-menu {
		padding: 0px;
		padding-bottom: 6px;
		margin: 10px 2% 5px;
		border-bottom: 1px solid #2B2C2C;
	}
	
	ul#project-list-menu li {
		list-style-type: none;
		display: inline-block;
		padding: 0px 2px;
	}
	
	ul#project-list-menu li a {
		color: #2B2C2C;
		font-size: 15px;
		padding-bottom: 5px;
	}
	ul#project-list-menu li a.selected {
		font-weight: bold;
		border-bottom: 3px solid #2B2C2C;
	}
	ul#project-list-menu li a:hover {
		color: #C7C6C6;
		border-bottom: 3px solid #C7C6C6;
	}
	
/*******************************************************************************
* PROJECT SHORT - SMALL
*******************************************************************************/
	.home-small-project { 
		width: 96% !important;
		min-height: 0px !important;
		padding: 2% !important;
		float: none !important;
	}
	.home-small-project h2 { font-size: 12pt !important; }
	.home-small-project .description-separator { display: none !important; }
	.home-small-project .description-zone { margin-top: 280px !important; }
	.home-small-project .description-zone .description-logos { display: none !important; }
	.home-small-project .description-zone .description-summary { width: 100% !important; }
	.home-small-project .video-zone-container { 
		position: absolute !important;
		top: 50px !important;
		width: 95% !important;
	}
	.home-small-project .video-zone { width: 100% !important; }
	
/*******************************************************************************
* PROJECT SHORT - LARGE
*******************************************************************************/
	.home-large-project h2 { font-size: 12pt !important; }
	.home-large-project .video-zone { 
		width: 100% !important;
		min-height: 250px !important;
	}
	.home-large-project .video-zone iframe { 
		width: 100%;
	}
	.home-large-project .description-zone { 
		margin-left: 0px !important;
		width: 100% !important;
		height: auto !important;
	}
	.home-large-project .description-zone .description-middle { display: none !important; }
	.home-large-project .description-zone .description-summary { 
		margin: 5px 0px !important;
	}
	.home-large-project .description-zone .description-discover {
		position: relative !important;
		bottom: auto !important;
	}
	
/*******************************************************************************
* PROJECT PAGE
*******************************************************************************/
	#head-image {
		top: 37px !important;
		height: 150px !important;
		background-image: url("../../images/header.jpg");
	}
	#head-content {
		bottom: auto !important;
		width: 100% !important;
	}
	#head-content #title, #head-content #subtitle {
		position: relative !important;
		bottom: auto !important;
		width: 90% !important;
		margin: 0% 5% !important;
		color: #FFFFFF;
	}
	#head-content #title p { margin: 10px 0px !important; }
	#head-content #title img { width: 20px; height: 20px; }
	#projects-stats { margin-top: 150px; }
	#projects-stats-content {
		position: inherit !important;
		padding-top: 15px;
		width: 100% !important;
		height: 125px !important;
		background: #EEECED !important;
		text-align: center;
	}
	#projects-stats-content .project_full_percent {
		position: relative;
		display: block;
		margin-top: 0px !important;
		margin-left: 0px !important;
		padding: 0px !important;
		font-size: 21px !important;
		background: #FF494C !important;
		min-width: 45px !important;
	}
	#projects-stats-content .progress_zone {
		margin-top: 70px !important;
		width: 250px;
		margin: auto;
	}
	#projects-stats-content .project_full_progressbg {
		margin-left: 0px !important;
		background: #FFF;
	}
	#projects-stats-content .project_full_progressbar { display: none; }
	#projects-stats-content .logos_zone { margin-top: -100px; }
	#projects-stats-content .logos_zone .post_bottom_infos_item { display: inline-block !important; }
	#projects-left-desc, #project-summary-container #projects-summary {
		width: 100% !important;
		height: auto !important;
	}
	#project-summary-container {
		margin: 10px 2% !important;
		height: auto !important;
	}
	#projects-left-desc .video-zone {
		margin: 10px 2% !important;
		width: 96% !important;
	}
	#projects-right-desc { display: none; }
	#post_bottom_content .projects-desc-item {
		width: 90%;
		margin: 25px 5%;
	}
	#post_bottom_content .projects-desc-item .project-content-icon, #post_bottom_content .projects-desc-item .grey-triangle { display: none; }
	#post_bottom_content .projects-desc-item .projects-desc-content {
		width: 100% !important;
		left: 0px !important;
		margin-bottom: 0px !important;
	}
	#post_bottom_content .projects-desc-item .projects-desc-content p { padding: 0px 10px !important; }
	#post_bottom_content .projects-desc-item .projects-desc-content p .projects-more {
		position: absolute;
		margin-left: -10px;
	}
	#post_bottom_content .projects-desc-item .projects-desc-content h2 {
		margin: 15px 10px !important;
		text-align: center;
		font-size: 18px;
		text-transform: none;
	}
	.mobile-share { text-align: center; }
	.mobile-share .jy-crois .stats_btn {
		background-position-x: center;
		vertical-align: top;
		background-size: 75%;
		height: 75px !important;
		margin-right: 0px;
	}
	.mobile-share .jy-crois .stats_btn #jy-crois-txt {
		top: 35px;
	}
	.mobile-share .jy-crois .stats_btn p {
		top: 55px;
	}
	.reward-zone {
		background-color: #EEECED;
		padding: 20px;
	}
	.reward-zone .project-rewards {
		text-align: center;
		line-height: 1.3em;
		padding-bottom: 5px;
	}
	.reward-zone #invest-button a {
		font-size: 15px;
		font-weight: bold;
	}
}