@media screen and (max-width: 480px) {
/*******************************************************************************
* COMMON
*******************************************************************************/
	.mobile_hidden { display: none !important; }
	.only_on_mobile { display: block !important; }
	.center { width: 100% !important; }
	#container { padding-top: 0px !important; }

/*******************************************************************************
* HEADER MENU
*******************************************************************************/
	#navigation {
		position: static !important;
		min-width: 0px !important;
	}
	#navigation #nav { height: 50px !important; }
	#navigation #nav .page_item { 
		padding-top: 25px !important; 
		height: 25px !important; 
	}
	#navigation #nav .page_item_logo { 
		padding-top: 5px !important; 
		height: 45px !important; 
		-webkit-margin-before: -15px !important;
	}
	#navigation #nav .only_on_mobile { display: block !important; }
	#navigation #nav .only_on_mobile .page_item_border {
		border-left: 0px;
		border-right: 1px solid #FFF;
	}
	#submenu-mobile {
		position: absolute;
		top: 35px;
		background: #333333;
	}
	#submenu-mobile ul {
		margin: 10px 20px;
		padding-left: 0px;
	}
	#submenu-mobile ul li {
		list-style: none;
		text-transform: uppercase;
		margin: 5px 0px;
	}
	#submenu-mobile ul li a {
		color: #FFF;
		font-size: 14px;
	}
	
/*******************************************************************************
* HEADER
*******************************************************************************/
	header { min-width: 0px !important; }
	header.header_home #welcome_text { margin-top: 0px !important; }
	header.header_home #welcome_text p { margin: 5px 10px !important; }
	header.header_home #welcome_text p.hello { margin: 15px 15px 0px 0px !important; }
	
/*******************************************************************************
* FOOTER
*******************************************************************************/
	footer { min-width: 0px !important; }
	footer .menutitle { display: none; }
	footer .widget-area {
		width: 100% !important;
		background: #C7C6C6;
	}
	footer .widget-area .menu-item { 
		text-align: center;
	}
	footer .widget-area .menu-item a { 
		font-size: 12px;
	}
	footer .widget-area ul.xoxo { margin-bottom: 0px; }
	footer #first { margin-left: 0px !important; }
	footer #first span.only_on_mobile { 
		display: block;
		width: auto;
		padding-bottom: 5px;
		margin: 0px 35px 10px;
		border-bottom: 1px solid #FFF;
		font-size: 15px;
		font-weight: bold;
	}
	footer #third #menu-footer-3 li:nth-child(1) { 
		width: 213px !important;
		margin: auto;
	}
	footer #third #menu-footer-3 li:nth-child(2) { display: none; }

/*******************************************************************************
* HOME PAGE
*******************************************************************************/
	#home-responsive {
		margin: 10px;
		width: auto;
	}
	#home-responsive h2 {
		margin: 15px 0px 10px 0px;
	}
	#home-responsive p {
		padding: 5px 0px 10px 0px;
		margin: 5px 0px 15px 0px;
	}
}