@media screen and (min-width: 768px) and (max-width: 959px) {
/*******************************************************************************
* COMMON
*******************************************************************************/
	.tablet_hidden { display: none !important; }
	.only_on_tablet { display: block !important; }
	.center { width: 768px !important; }
	.indent { margin-left: 20px !important; }
	.center { max-width: 100% !important }
	
/*******************************************************************************
* HEADER MENU
*******************************************************************************/
	#navigation { min-width: 0px !important; }
	#navigation #nav { height: 50px !important; }
	#navigation #nav .page_item { padding-top: 20px !important; height: 30px !important; }
	#navigation #nav li.page_item_inverted { padding-top: 0px !important; height: 50px !important; }
	#navigation #nav .page_item_inverted a { padding-top: 20px !important; }
	#navigation #nav #menu_item_facebook { display: none; }
	#navigation #nav #menu_item_twitter { display: none; }
	#navigation #nav li a { padding: 0px 11px; }
	
/*******************************************************************************
* HEADER
*******************************************************************************/
	header { min-width: 768px !important; }
	header.header_home #welcome_text { position: absolute; }
	header.header_home #welcome_text hr { display: none; }
	header.header_home #welcome_text p { margin: 5px 10px !important; }
	header.header_home #welcome_text p.hello { margin: 15px 15px 0px 0px !important; }
	header.header_home #welcome_text #header_homepage_link { margin: 10px 0px !important; }
	
/*******************************************************************************
* FOOTER
*******************************************************************************/
	footer { min-width: 768px !important; }
	footer div.widget-area { width: 220px !important; }
	footer div.widget-area-large { width: 300px !important; }

/*******************************************************************************
* HOME PAGE
*******************************************************************************/
	#home_middle_top .home_middle_top_content { width: 365px !important; }
	#home_middle_top #home_middle_top_left { margin: 130px 5px 0px 5px !important; }
	#home_middle_top #home_middle_top_right { margin: 130px 5px 0px 5px !important; }
	#home_middle_top .round_title { margin: -105px 110px 0px !important; }
	#home_middle_top .home_middle_top_content p:nth-child(2) { margin: 80px 15px 15px !important; }
	#home_bottom .part-title-separator { width: 768px !important; }
	#home_bottom .partners_zone { width: 768px !important; }
	
        .wdg-component-slider .slider-container #slider #slide-1 .message-banner .screen-message{
            margin: 0%;
            text-align: left;
            font-family: wedogood;
            font-size: 2.5em;
            font-weight: bold;
            color: #FFFFFF;
        }      
/*******************************************************************************
* PROJECT SHORT - SEPARATOR
*******************************************************************************/
	.part-title-separator { width: 768px !important; }
	
/*******************************************************************************
* PROJECT SHORT - SMALL
*******************************************************************************/
	.home-small-project { width: 370px !important; }
	.home-small-project .video-zone { width: 370px !important; }
	.home-small-project.status-vote .description-zone .description-logos-item { width: 45px !important; }
	
/*******************************************************************************
* PROJECT SHORT - LARGE
*******************************************************************************/
	.home-large-project .video-zone { width: 415px !important; }
	
/*******************************************************************************
* PROJECT PAGE
*******************************************************************************/
	#head-image { top: 47px !important; }
	#head-content { width: 768px !important; }
	#head-content #title, #head-content #subtitle { margin-left: 5px; }
	#white-background { width: 260px !important; }
	#projects-stats-content, #vote-form { width: 260px !important; }
	#project_vote_zone textarea { width: 100% !important; }
	#projects-stats-content .project_full_progressbg { 
		margin-left: 5px !important;
		width: 250px !important;
	}
	#projects-stats-content .project_full_percent {
		position: relative;
		display: inline-block;
		margin-top: 0px !important;
		margin-left: 0px !important;
		background-color: #333;
		color: #FFF;
		font-size: 21px !important;
	}
	#projects-stats-content .project_full_progressbar { display: none; }
	#invest-button .description-discover { padding: 14px 0px !important; }
	#projects-left-desc {
		width: 420px !important;
		margin-left: 5px! important;
	}
	#projects-left-desc #projects-summary { width: 100% !important; }
	#projects-left-desc .video-zone { width: 410px !important; }
	.projects-desc-content { width: 635px !important; }
	
/*******************************************************************************
* INVESTMENT
*******************************************************************************/
	.invest_step1_generalities, .invest_step1_currentproject { max-width: 96% !important; }

}